[2016-04-29 18:22] leeper opened #1 "Better options for output"
Currently, the output is a character matrix, which kind of makes sense. But there are other options:

- [x] List of character matrices (current default)
- [x] List of character vectors
  - Could be delimited for parsing via `read.csv()`, etc.
- [x] List of data.frames
  - This would be nice, but shouldn't be default because some tables won't work well with it if they're not perfectly rectangular.

[2016-04-29 18:23] leeper opened #2 "Handle .jar files for CRAN"
The .jar files are currently 8MB and apparently too big for CRAN. Standard practice is to dump these to a separate, rarely updated package, which we can do, but Tabula is a relatively young library so that may not work quite yet.

[2016-04-29 21:35] #1 closed

[2016-04-29 21:56] leeper opened #3 "Add column and area tests"
This is documented but not tested. It can be done using the same test PDF file to extract a subset of columns.

[2016-04-30 14:17] leeper opened #4 "Add vignette"

[2016-04-30 16:02] #4 closed

[2016-05-02 09:56] psychemedia opened #5 "Area problems with multiple pages"
Hi

I keep getting an error trying to use the area parameter with a specified page range:

eg using [this file](http://www.fia.com/file/41057/download?token=2CoHjHbX) and the command:

    extract_tables('Lap Analysis.pdf',guess=F,pages=2,area=list(c(178, 10, 800,40)))

I can extract a header, but if I set `pages=c(2,3)` or remove the pages parameter I get an error:

    May 2, 2016 10:55:48 AM or

[2016-05-02 12:45] leeper commented on #5
Can you give me the output of `sessionInfo()`?

[2016-05-02 12:58] masalmon opened #6 "Pdf ideas for examples"
* Scientific papers often have tables and one would surely like to use the `area` argument.

* Bus timetables, e.g. http://www.apsrtc.gov.in/Airport%20Liner%20Timings.pdf or http://www.morbihan.fr/fileadmin/Les_services/Vos_deplacements/Transports_collectifs/Fiches_horaires_TIM/TIM7-Hiver-Printemps-2016.pdf p.3

[2016-05-02 13:05] psychemedia commented on #5
Sure:

[code]

[2016-05-02 13:08] leeper commented on #5
Thanks. I will investigate.

[2016-05-02 13:09] psychemedia commented on #5
Thanks.

FWIW, quick write up on package in general here: https://blog.ouseful.info/2016/05/02/when-documents-become-databases-tabulizer-r-wrapper-for-tabula-pdf-table-extractor/

I note that the area settings passed to the area function aren't the exact same ones as those displayed by the Tabula app.

[2016-05-02 13:17] psychemedia commented on #6
The `area` argument is available. For example:

[code]

The area parameter appears to take co-ordinates in the form: *top, left, width, height*.

You can find the necessary co-ordinates using the tabula app: if you select an area and preview the data, the selected co-ordinates are viewable in the browser developer tools console area.

However, the tabula app console output gives co-ordinates in th

[2016-05-02 14:44] leeper commented on #6
@psychemedia The area specification is a bug in my code. I'm pushing a fix for it right now. It should be `top,left,bottom,right` just like in Tabula.

[2016-05-02 14:51] masalmon commented on #6
@leeper new terrible example, http://photos.state.gov/libraries/india/231771/PDFs/jan-dec_2015.pdf (the csv [here](http://newdelhi.usembassy.gov/airqualitydataemb/jan-nov2015.csv) being incomplete). It's US data, 187 pages, I'll report tomorrow once I've scraped it. Have I already said your pkg is awesome? :grin:

[2016-05-02 15:07] leeper commented on #5
With the update I just pushed, give this a try for that example:

[code]

[2016-05-02 15:16] psychemedia commented on #5
So:

- area bounds thing seems to be fixed;
- scrape works for multiple pages specified;
- omitting `pages` attribute throws an error:
[code]

[2016-05-02 19:40] leeper commented on #5
Can you let me know if this is still happening with the current version?

[2016-05-02 19:42] hansthompson opened #7 "A parameter in extract_tables to assume row names and colnames from first row and column"
If tables are coming in to R as matrices, Could the conversion to data.frames be made simpler with a parameter for assuming the first row or columns should be row and columns names?

[2016-05-02 19:43] leeper commented on #7
Try setting `method = "data.frame"`. If you have a well-formed table, that should return a very nice data.frame with column names specified and row names as a column.

[2016-05-02 20:45] psychemedia commented on #5
If I remove the pages argument from a test where it works with multiple pages, it still seems to fail with `Error in area[[p]] : subscript out of bounds`

[2016-05-02 22:46] abresler opened #8 "Better rstudio integration for extract_areas function"
Hopefully from the rstudio team can help with this.

[2016-05-03 11:20] leeper commented on #8
What issues are you encountering?

[2016-05-03 14:04] abresler commented on #8
Really difficult to see and use the highlighter
<img width="539" alt="screen shot 2016-05-03 at 10 02 56 am" src="https://cloud.githubusercontent.com/assets/740564/14985644/6109147c-1116-11e6-853a-c8f00bee49c4.png">

[2016-05-03 20:44] leeper commented on #8
The cursor appears to be the same across graphics devices and is defined quite deeply inside the R source. I'm not sure there's going to be away to get around this.

[2016-05-04 08:52] leeper commented on #5
This should be fixed now. For your example file:

[code]

[2016-05-04 09:41] psychemedia commented on #5
Yeo - seems to work fine for me now.

Thanks:-)

[2016-05-04 09:41] #5 closed

[2016-05-04 10:51] #3 closed

[2016-05-04 16:01] abresler commented on #8
Will see if I can find the right rstudio dev maybe JJ Allaire?

[2016-05-04 21:20] #7 closed

[2016-05-05 15:54] masalmon commented on #6
I have used the tabulizer package here https://github.com/masalmon/usaqmindia/blob/master/inst/pm25_consulate.R but it's a pretty boring example.

[2016-05-05 21:10] leeper opened #9 "add split and merge functions"
This might be useful for handling portions of a very large PDF document, or for combining many PDFs into one for use with `extract_areas()` or `extract_tables()`, or for some other purposes.

`split_pdf()`
https://pdfbox.apache.org/docs/1.8.12/javadocs/org/apache/pdfbox/util/Splitter.html#Splitter()

`merge_pdfs()`
https://pdfbox.apache.org/docs/1.8.12/javadocs/org/apache/pdfbox/util/PDFMergerUtil

[2016-05-07 14:28] #2 closed

[2016-05-07 14:28] #9 closed

[2016-05-07 15:22] leeper commented on #6
This IRS document might work well as an example: https://www.irs.gov/pub/irs-soi/14databk.pdf

[code]

[2016-05-07 15:25] masalmon commented on #6
I like that it's called data book, hehe.

BTW do you think there would be way to automatically recognize all tables in a pdf?

[2016-05-07 15:36] leeper commented on #6
@masalmon The default behavior of `extract_tables()` should do this, as long as `guess = TRUE`.

[2016-05-07 15:37] masalmon commented on #6
Ah cool -- sorry I had missed that.

[2016-05-25 08:38] leeper opened #10 "Handle non-latin encodings"
This seems really challenging given the quirkiness of PDF format, but is the big issue to left to implement [from rOpenSci onboarding](https://github.com/ropensci/onboarding/issues/42)

[2016-05-25 08:39] leeper opened #11 "Handle Encrypted PDFs"
Tabulizer can handle encrypted PDFs through a password. I should expose this functionality for completeness sake.

All this requires is optionally passing a password argument to the objectextractor constructor [here](https://github.com/leeper/tabulizer/blob/master/R/extract_tables.R#L54).

[2016-05-31 09:31] #11 closed

[2016-05-31 15:51] sainathadapa opened #12 "Understanding the error messages"
Can you help me understand the following warnings and steps that I need to take to avoid them:
[code]

Here is the session info
[code]

[2016-05-31 15:54] leeper commented on #12
Thanks. Can you supply an example file and the output of a direct call to `extract_tables()` rather the `%>% lapply()` construction?

[2016-05-31 16:06] sainathadapa commented on #12
The warnings don't go away when `%>% lapply` is not used. Sadly I can't supply an example pdf since it contains personal information.
When the pdf file is viewed using the 'Document Viewer' in Ubuntu, the properties section says the following about the fonts:
[code]
Are the warnings because of this (probably)?

[2016-06-01 07:50] leeper commented on #12
Does `extract_text()` work on the file to return a character vector? If not, I suspect there might not be anything that can be done. If it works, there's probably some hope and I can investigate further.

[2016-06-01 16:01] leeper commented on #10
This works on Windows, but is screwy on Linux. Must investigate more.

[2016-06-02 07:44] leeper commented on #8
The answer may be to create a Shiny app. [`plotOutput()` offers a "brush" (drag) method](http://www.inside-r.org/packages/cran/shiny/docs/plotOutput) for highlighting an area of a plot. That will probably work better than the current approach and possibly resolve [platform-specific errors mentioned here](https://github.com/ropensci/onboarding/issues/42#issuecomment-223133535).

[2016-06-02 10:56] leeper commented on #8
Another approach is [graphics events](https://stat.ethz.ch/R-manual/R-devel/library/grDevices/html/getGraphicsEvent.html), apparently, but I think this will require [`cairoDevice`](https://cran.r-project.org/web/packages/cairoDevice/index.html) to work on Mac.

[2016-06-07 12:48] leeper commented on #8
Hey @abresler, I just added a little shiny widget thing as a hopefully better interface for when you're working within RStudio. Let me know if you have any reactions/suggestions.

[2016-06-07 17:20] abresler commented on #8
You ROCK cannot wait to play with this!!
ᐧ

----------------------
*Alex Bresler*
abresler@asbcllc.com

​www.asbcllc.com​

917-455-0239
​ (cell)​

@abresler <http://twitter.com/abresler> | LinkedIn
<http://www.linkedin.com/in/abresler> | My Musings <http://asbcllc.com/blog>

On Tue, Jun 7, 2016 at 8:48 AM, Thomas J. Leeper <notifications@github.com>
wrote:

[2016-06-08 13:36] leeper commented on #8
I think I'm going to consider this closed, but I'll gladly reopen if any weird behavior emerges.

[2016-06-08 13:36] #8 closed

[2016-06-08 13:37] #12 closed

[2016-06-27 15:35] JakeRuss opened #13 "extract_tables error message"
I have four pdfs that from what I can tell were created by the same source. `extract_tables` works perfect for three of them. For the fourth I get the following error message,
[code]
`extract_areas` and `extract_text` appear to work fine with the pdf in question.

Do any watchers of this repo understand this error message? My googling has not been successful. Is there a specific pdf attribute that

[2016-06-27 16:45] leeper commented on #13
No problem. Can you give me the output of `traceback()` after that error occurs? And, give me the output of `sessionInfo()` just so I know your R and OS settings?

[2016-06-27 16:50] JakeRuss commented on #13
[code]

[code]

[2016-06-29 18:47] Jonger-man opened #14 "Not loading into R like described"
I've seemingly exhausted my limited knowledge but I'm unable to get the package to load into RStudio. I've installed rJava, and updated Java on my PC (Win7).  I followed your instructions on installation, but I think I'm either missing a step or not downloading the correct versions of tabula.  Any help would be greatly appreciated.

I'm using 3.3.1, if that matters.
Thanks!

[2016-06-30 12:39] Jonger-man commented on #14
I followed the install instructions to the letter. Updated Java using Choco, then installed rJava, and then downloaded the "tabulizer-master" zip file, uncompressed it into the R folder, and when I try to run it I get this..

Warning in install.packages :
  package ‘tabulizer-master’ is not available (for R version 3.3.1)

Any help would be greatly appreciated!  Thanks.

[2016-07-01 17:44] leeper commented on #14
@Jonger-man Try this:

[code]

Or, you may need to add:

[code]

[2016-07-02 17:44] jasdumas commented on #14
I i'm trying the following code on a Mac and I'm not able to successfully load the package (I successfully installed `library("rJava")` previously:

[code]

Here is the error:

leeper/tabulizerjars     leeper/tabulizer
                  NA                   NA
Warning messages:
1: In utils::install.packages(to_install, type = "source", contriburl = contrib,  :
  installation of package ‘tabulizerj

[2016-07-04 07:23] leeper commented on #14
@jasdumas can you add a `verbose = TRUE` argument to that and copy the output?

[2016-07-05 12:38] Aeilert opened #15 "Integrating extract_tables with Shiny-app - no reactivity"
Thanks for this awesome package. I works well an all the .pdf-documents I have tried it on. I do however have a problem integrating the extract_tables / extract_text functions with my own Shiny-app.

More specifically the problem is that the `fileInput`-function to upload files doesn't seem to recognize that a new file has been uploaded. This works instantly with other R-functions like `read.csv`

[2016-07-05 14:55] leeper commented on #15
Okay, I assume the issue is something to do with how tabulizer runs the file through [`localize_file()`](https://github.com/leeper/tabulizer/blob/master/R/utils.R#L1-L20). Do you know what your shiny app gives as the value of `inFile$datapath`?

[2016-07-05 16:58] Aeilert commented on #15
I see.

`inFile$datapath` gives a temporary folder of the form "/var/folders/v4/gmb8wwgx1jj_94hdm2rc4bjh0000gn/T//RtmpYGRbyk/ced0c48b4af993d4d1ca7da4/0". Interestingly this path seem to change when a new file is uploaded. The other values (name, size) in the `input$file1` / `inFile` - dataframe are also updated, but the output displayed is not.

I have also tried different uses of `reactive` and `

[2016-07-27 05:02] nghowai opened #16 "Dependencies not available"
When I tried to install the package, the following error message appear:

Warning: dependencies ‘BiocInstaller’, ‘Rcompression’, ‘glmmADMB’, ‘lme4.0’, ‘cacheSweave’, ‘weaver’, ‘graph’, ‘Biobase’, ‘GenomicRanges’, ‘marray’, ‘affy’, ‘limma’, ‘Rcampdf’, ‘Rgraphviz’, ‘tm.lexicon.GeneralInquirer’, ‘ReportingTools’, ‘globaltest’, ‘R2wd’, ‘RDCOMClient’, ‘rhdf5’ are not available

and was unable to contin

[2016-07-27 07:49] leeper commented on #16
Try upgrading the latest version of ghit (v0.2.10), or use `devtools::install_github(c("leeper/tabulizerjars", "leeper/tabulizer"))`.

[2016-07-30 08:18] methodds opened #17 "Installation fails"
Hi,

I followed your instructions to install tabulizer (Windows x64) but the installation always fails:

[code]
I tried several things like different paths, different java versions, etc., but all without success. Can you help me out?

[2016-07-30 10:05] leeper commented on #17
@methodds Looks like the **png** package may be the issue. Can you try installing that first using `install.packages("png")`?

[2016-07-30 10:33] methodds commented on #17
wow that was an easy fix, thanks! It works now, should have come up with this on my own.. :)

[2016-07-30 10:54] leeper commented on #17
Glad it's working and no problem!

[2016-07-30 10:54] #17 closed

[2016-07-30 10:55] methodds opened #18 "Password Protection error for PDF's without PW protection"
Hi,

I'm having trouble  with some PDFs (which work with the tabula browser). When trying to load them with  `extract_areas`` the following error is raised:

[code]

An example PDF is available here:
http://www.insee.fr/fr/ppp/bases-de-donnees/donnees-detaillees/circo_leg/donnees/0101.pdf
It is not password protected.

[2016-07-30 14:15] leeper commented on #18
Thanks. I'll investigate.

[2016-08-02 10:14] Aeilert commented on #15
Do you have any suggestions or workarounds to this problem?

If the app only needs to function RStudio you could use the base R-command `file.choose` instead of `fileInput`. But I'm interested in a browser-app.

[2016-08-07 08:24] #16 closed

[2016-08-26 18:59] jli-vericred opened #19 "is there a limit on the size of the extraction?"
I tried to extract 816 pages using extract_tables from a PDF that has a size of 8.2MB. After 10 minutes of running, the following error message popped up:

`Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.lang.OutOfMemoryError: Java heap space`

Would really appreciate your help!

Thank you!

[2016-08-29 15:54] PPPW commented on #14
@leeper : I got the same problem as @Jonger-man , then I tried both your commands posted on Jul 1, but still got errors. I'm using windows.

[code]

And I searched `tar (child): Cannot connect to C: resolve failed` online, people said there're colon in filenames, so it thinks it's on remote machine, and they suggest to add '--force-local' for tar, but I'm not sure how I can do that for your comman

[2016-08-29 17:16] leeper commented on #14
@PPPW How exactly are you calling this? You say you're on Windows, but those look like Unix-style paths. The error you're seeing is deeply nested inside `R CMD build`, so my guess is it's not something specific to this package but rather something about your machine setup and/or how you're using R.

[2016-08-29 18:44] PPPW commented on #14
Hi @leeper , I was just following your installation instructions in the README:
[code]
I run this command in RStudio and got the error. Maybe it's because of my machine, thanks for looking at it...

I've also tried to use:
[code]

Then got different error:
[code]

As I searched online, by using `--no-multiarch` I shouldn't get this error, I'm trying to figure out what's going on...
I have no probl

[2016-08-29 19:22] leeper commented on #14
When you try the devtools install method, change `INSTALL_opts` to `args`.

[2016-08-29 19:43] PPPW commented on #14
@leeper : wow, that fixed the problem, it works now!! Thank you!

[2016-08-30 01:37] 21-Hidetaka-Ko opened #20 "Subscript out of bounds error for much the same PDF"
Thanks for this awesome package. It works well on all the .pdf-documents I have tried it on. I do however have a problem about the extract_tables like below. Also, You can reproduce this in your R studio, too.

This works with this pdf in 2015 :

[code]
![2015](https://cloud.githubusercontent.com/assets/13757620/18072989/62bd57f2-6e17-11e6-9c3d-00f6d8ced980.png)

This doesn't work with this pdf in

[2016-08-30 05:46] leeper commented on #20
What does `out` look like? (e.g., can you show `str(out)`? It seems like the extraction is working, but the format isn't exactly what you're looking for. You might try modifying the `method` argument of `extract_tables()` so that you get something other than a matrix back.

[2016-08-30 07:12] kevlu93 commented on #19
Having the same issue, increased the memory available to 12 GB, now I get this error:

Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  org.apache.pdfbox.exceptions.WrappedIOException

[2016-08-30 07:23] leeper commented on #19
The short term solution would be to use the `pages` argument and break this out into a few separate steps.

I'll look into a more robust solution.

[2016-08-30 07:36] kevlu93 commented on #19
So it looks like once I increase the heap size it'll always throw the ioexception no matter how many pages i set. Once I restart I can then extract a certain number of pages. (I'm currently testing what the upper bound is for my case)

[2016-08-30 20:07] jli-vericred commented on #19
I increased the memory available to 16GB and it worked for me. Not sure the bound though.

[2016-09-12 16:24] timspit opened #21 "Installing tabulizer"
I'm pretty well stuck trying to install the package as described in the instructions. After installing chocolatey, then Java, then the ghit package, after running the code as laid out in the instructions:
**ghit::install_github(c("ropenscilabs/tabulizerjars", "ropenscilabs/tabulizer"), INSTALL_opts = "--no-multiarch")**
I get the following error:
**Error in build_and_insert(p$pkgname, d, vers, bui

[2016-09-12 16:38] leeper commented on #21
Can you run it with `verbose = TRUE` and copy over the output?

[2016-09-12 19:16] timspit commented on #21
Hi Thomas,

Thanks for your response. Ran with verbose = TRUE. Results as follows
(filepaths replaced in ALL CAPS):

Parsing reponame for 'ropenscilabs/tabulizerjars'...
Creating local git repository for tabulizerjars...
Checking out package tabulizerjars to local git repository...
[new]     627c0aa9800f10bc4d93 refs/remotes/github/master
Reading package metadata for 'ropenscilabs/tabulizerjars'..

[2016-09-12 19:49] leeper commented on #21
Looks like a Windows permissions problem. Can you run R as an administrator?

[2016-09-12 20:15] timspit commented on #21
That did it. Thanks for your help!

On Mon, Sep 12, 2016 at 3:49 PM, Thomas J. Leeper <notifications@github.com>
wrote:

[2016-09-12 20:39] leeper commented on #21
Great!

[2016-09-12 20:39] #21 closed

[2016-09-22 12:12] leeper opened #22 "Multiple table in 1 page"
Migrated from https://github.com/ropenscilabs/tabulizerjars/issues/1 (@khun84)

Is there param that I can parse in to extract **more than 1 table per page**?

I have a pdf page with 2 tables:
- table 1 is 2 columns and multiple rows
- **table 2 has 2 columns and multiple rows, but some of the cells are merged)**.

I use the `extract_table()` function with default param and the output only has 1 ta

[2016-09-22 12:14] leeper commented on #22
@khun84 Yes, you can specify the page number twice, along with the area (or use the `extract_areas()` function to specify those areas interactively).

So something like `extract_areas(file, pages = c(1,1))`. This will give you the chance to extract two different areas from a given page.

You can pursue the Java approach, but it's really only useful if you know the underlying tabula Java library we

[2016-09-22 17:26] khun84 commented on #22
thanks for the clarification...ive tried with `extract_areas(file, c(1, 1))` but it return the same table twice. If I have to explicitly define the area for both tables, then my code will break when the position of the tables change.

Is there any function that can return the entire content of the pdf in a **DOM** like format? In that case, I can traverse the DOM tree and extract what I want.

[2016-10-02 04:59] bharath-cchmc commented on #13
+1 Same error

[2016-10-17 01:30] jjesusfilho commented on #13
I am having the same error.

[2016-10-19 03:01] ZZZZh opened #23 "PDF page in left and right format"
Thanks for contributing this awesome package.
Most of my pages are seperated by a blank area in the middle, so that left paragraph and right paragraph are independent. Interestingly, extract_tables sometimes works well, sometimes it regards left and right paragraphs as an entire table. In the second condition, some columns in the table are combined and it's hard to extract information. I've upload

[2016-10-19 10:54] Timmwardion commented on #13
I'm getting a similar error:

Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.lang.UnsupportedOperationException
In addition: Warning messages:
1: Closing open result sets
2: Closing open result sets

Tracback gives me:

[code]
sessionInfo() gives me
[code]

[2016-10-19 15:33] bharath-cchmc commented on #13
So I noticed a change. If I extract data from a  page 1, it works great. Later in the function, if I extract_tables from page 2 it gives me this error.

[2016-10-26 15:56] harshalas opened #24 "Extract Area around a matching string"
Hello,
I have tables in the format

abc : 12345566
cde : 456782
gef : 45345435

where abc,def are the same and the other number vary. When I extract specific area, I get dataframe with 2 columns which is perfect. My problem however is , the tables sometimes split over two pages depending on the extra lines on number side and there is one value "xyz" which is present for some tables.

Is there a wa

[2016-10-26 16:30] harshalas commented on #24
I tried using suggestion by @leeper on another thread by giving same page number three times and specifying the areas. The first two tables were extracted perfect, however the third table which was flowing into next page gave error

org_affiliates_3 <- as.data.frame(extract_tables(fn, pages = c(sel_page,sel_page,sel_page), area = c(list(c(top3,left3,bottom3,right3)),list(c(top3+194,left3,bottom3+1

[2016-10-28 08:37] leeper commented on #24
If you use a different `method `argument, you should be able to get back a structure that isn't passed through `data.frame()`. You might try the `method = "csv"` option, which will just save a CSV locally (directly from the underlying Java code) or `method = "character"`.

[2016-10-28 22:12] harshalas commented on #24
Thankyou  @leeper
I tried all the methods.. but none of them seem to work
extract_tables(fn, pages=7,package = "tabulizer",method = "csv")
[1] "C:\\tabulizer\\phd\\Ind"
there is no file created in the folder

list()

[1] "Java-Object{[]}"

[1] "C:\\tabulizer\\phd\\Ind" - No file created

[1] "C:\\tabulizer\\phd\\Ind"

[2016-11-05 19:17] alanpaulkwan opened #25 "extract_text without trimming"
I am not sure this is an issue per se but I think it would be very useful to preserve the spacing of the text without trimming. For example, if something appeared on screen as

"                        hello world gfdaggfdagfda                                       "

right now i believe Tabulizer would yield

" hello world gfdaggfdagfda"

Another example would be

" hello world

[2016-11-12 11:12] leeper commented on #25
I think this is an inherent limitation of PDF format. As I understand it, white space is not represented as actual "space" characters but rather as horizontal offsets for the represented text. So, the underlying tabula library has no way of knowing how much space there is because there's nothing there except the horizontal start position of the text. I could be wrong as I'm not a PDF expert, but m

[2016-11-12 15:41] alanpaulkwan commented on #25
That makes sense, although what I'm suggesting t would just be about
representing the offsets with whitespace. It sounds like what you're saying
is as far as you know, Tabula doesn't give options to do this. Since your
goal is to create an R binding I suppose it's a feature request to be send
over to the tabula guys?

RPoppler / pdftools seems to get along the lines of what I want, but there
are s

[2016-11-12 17:11] leeper commented on #25
Oh actually `extract_text()` isn't a tabula feature. It just uses pdfbox. If it looks like it possible directly with PDFbox, I can try to implement it but I don't think it is possible.

[2016-11-12 17:14] alanpaulkwan commented on #25
I can't figure out how to do it here, but I have a piece of Java code... can I send it to you?

[2016-11-12 17:21] leeper commented on #25
Thanks. I will take a look as soon as I can.

[2016-11-12 22:36] alanpaulkwan commented on #25
Awesome, thanks. Hoping it helps improve the package!

On Sat, Nov 12, 2016 at 12:21 PM, Thomas J. Leeper <notifications@github.com

[2016-11-15 15:09] kenarab opened #26 "It seems when scraping a repeated filename, the first file remains cached"
I was scraping repeated filenames in different folders and when I execute extract_table and/or extract_areas it returns the first instance of the filename.

For me worked a workaround: load again the library.

[2016-11-15 20:38] kenarab commented on #26
Nope. Is not working. I have to restart the session for it works ok with duplicated filenames in different folders.

[2016-11-15 23:07] leeper commented on #26
Sorry, I'm not following exactly. Can you give an example that demonstrates the issue?

[2016-11-17 08:53] cywhale opened #27 "extract_areas got wrong results for numerical values in pdf table?"
I extracted table in pdf (text in format, not scanned image) by

Interactive operation in Rstudio viewer (looks very blurred), see the screenshot:
https://goo.gl/OFvOLn

then the data.frame output got wrong results, like that:
https://goo.gl/YRnU2d
The column number was right, and got right English characters, but the values stored were all wrong.

I cannot figured out what's the possible issues.

[2016-11-17 11:11] leeper commented on #27
This basically seems to work: `extract_tables("test.pdf", 1, list(c(164, 93, 754, 566)), method = "data.frame")`

[2016-11-17 13:03] cywhale commented on #27
It works, thanks. I stuck in extract_areas, and should try extract_tables first.

[2016-11-17 13:03] #27 closed

[2016-11-30 22:09] thatsawinner commented on #13
I am also getting the error.

[code]

[code]

[code]

The function works just fine if I tell it what page a table is on.

[2016-12-04 19:31] Javs42 opened #28 ""Tabulizer not available for R 3.3.2""
Attempted to run through the [tutorial](http://datascienceplus.com/extracting-tables-from-pdfs-in-r-using-the-tabulizer-package/) given on DataSciencePlus.com and went to install the Tabulizer package and the R console throws up the following warning:

`> install.packages("tabulizer")`
`Warning in install.packages :
  package ‘tabulizer’ is not available (for R version 3.3.2)`

I did not see any o

[2016-12-04 19:36] sckott commented on #28
It's not on CRAN yet, see https://github.com/ropenscilabs/tabulizer#installation

[2016-12-05 17:44] sabasss commented on #13
I have a similar exeption:

7: stop(list(message = "java.lang.IllegalArgumentException: shapes can't be empty",
       call = .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod",
           cl, .jcast(if (inherits(o, "jobjRef") || inherits(o,
               "jarrayRef")) o else cl, "java/lang/Object"), .jnew("java/lang/String",
               method), j_p, j_pc, use.true.class = TRUE, evalSt

[2016-12-06 13:33] jkgrain opened #29 "java.lang.IllegalArgumentException: Comparison method violates its general contract!"
I had no issues installing the package and running the code example in the readme, so I know that my installation was successful.

The following attempt blew up:

[code]

[2016-12-06 15:21] #28 closed

[2016-12-12 19:56] snoopyhaimaxuan opened #30 "Loading into R unsuccessful"
I followed the instruction, and installed the Java6. R keeps throwing out the same warning message:
```-> ghit::install_github(c("ropenscilabs/tabulizerjars", "ropenscilabs/tabulizer"))```

[code]

Any one has had the same issue? Any help would be appreciated.
I am using Unix, and R version is 3.3.2.

[2016-12-14 11:27] mrspatbile commented on #14
HI, I am also trying to install on a Mac Sierra 10.12.1, and get the same error as @jasdumas. I can see that the problem is on installing png, but I lack the knowledge to correct this. Here I run with verbose=TRUE as you sugested:

ghit::install_github(c("leeper/tabulizerjars", "leeper/tabulizer"), verbose = TRUE)
Parsing reponame for 'leeper/tabulizerjars'...
Creating local git repository for tab

[2016-12-20 11:20] leeper commented on #30
Can you retry, with either:

[code]

And let me know what errors you encounter?

[2016-12-20 11:26] leeper commented on #29
This appears to be a fairly low-level Java issue, rather than something in tabulizer per se. The temporary workaround is to set `spreadsheet = FALSE` to force an extraction method:

[code]

[2016-12-20 11:26] #29 closed

[2016-12-20 15:15] snoopyhaimaxuan commented on #30
Thank you for the help. I tried both, and got the same error as follows:
[code]

[2016-12-20 15:19] snoopyhaimaxuan commented on #30
I ran ```R CMD javareconf ``` on the command line, and it solved my issue. Thank you!

[2016-12-20 15:44] leeper commented on #30
Okay, great.

[2016-12-20 15:44] #30 closed

[2016-12-21 04:05] SteveLane commented on #22
Hi @leeper - I've recently run into similar issues, but with multi-page documents and a random number of tables per page, I found that the 'spreadsheet' method on the command line and/or via Tabula's interface will drag them out. The `write_csv` function spills them all out correctly (at least in the cases I've tested), but the `list_matrices` function doesn't.

I've edited the `list_matrices` fun

[2016-12-21 07:22] leeper commented on #22
Yes, please send a PR!

[2016-12-22 00:29] SteveLane opened #32 "Non-western import test extracts two tables instead of one."
[code]

[2017-01-12 00:24] pssguy commented on #7
The table i am sourcing  from looks well formed but it comes out as a list even when stipulating as a data.frame and when I coerce to data.frame the first row becomes the column headings

[code]

![](https://cloud.githubusercontent.com/assets/2775918/21871857/d3be0750-d819-11e6-909a-5eec40b3a2b4.PNG)

I'm on v 0.1.22

[2017-01-12 09:16] leeper commented on #7
@pssguy It's a list of data.frames:

[code]

Just extract the first element using `[[` to get the data frame you want

[2017-01-18 17:52] pssguy commented on #7
@leeper thansk for reply but I still haven't got it

[code]

[2017-02-02 10:59] Ashleshadk commented on #13
I have a similar error when I am trying to use extract_area function. It was working fine for other pdf documents.

traceback():
8: stop(list(message = "java.util.NoSuchElementException", call = .jcall("RJavaTools",
       "Ljava/lang/Object;", "invokeMethod", cl, .jcast(if (inherits(o,
           "jobjRef") || inherits(o, "jarrayRef")) o else cl, "java/lang/Object"),
       .jnew("java/lang/Strin

[2017-02-02 12:22] Ashleshadk commented on #5
Hi All,

I am facing similar error for extract_areas function. I am able to select the table which I want to extract from PDF document but whenever I am clicking Done button, getting following error. I am not facing any issues for other pdf docs

code -
jh<- extract_areas(loaction1,6)

Error-
Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.util.NoSuchElementExcept

[2017-02-06 05:53] Kanz95 opened #33 "Specifying area and using nospreadsheet=True doesn't work"
I have a pdf where guessing or autodetect tables isn't able to find the table and the table is a Stream table(columns separated by white spaces). I used tabula-py where the code goes like:

`df=tabula.read_pdf("sample.pdf",nospreadsheet=True,area=(321.3,49.459,836.719,567.109))
`
I get an empty dataframe after executing .But mentioning the same area and using it through tabula in windows produces

[2017-02-06 09:41] leeper commented on #33
What was the R code you used? The analogue should be:

[code]

You  may want to try with `guess = FALSE`, as well:

[code]

[2017-02-06 10:56] Kanz95 commented on #33
@leeper  Worked! Thanks

[2017-02-06 10:56] #33 closed

[2017-02-07 02:55] PirateGrunt commented on #15
I experience the same issue. When uploading a file, Shiny will write it to subdirectory below a temporary directory. `load_doc` will call `localize_file` with `copy = TRUE`, which will make a copy of the uploaded file.  In later calls, this file never seems to get replaced.

I cloned the repo and ran with some edits locally. If I change the `copy` parameter in `load_doc` from TRUE to FALSE (line 2

[2017-02-07 15:17] PirateGrunt commented on #15
A bit more on this. I think the more significant issue is with regard to line 13 in utils.R. The default behavior for `file.copy` is NOT to overwrite the file if it already exists. The way that Shiny uploads files is such that they will always exist in a subfolder of `tempdir()` and will have a basename of "0" or some such. `localize_file` will take its source and copy it to `tempdir()`. On the se

[2017-02-07 21:27] hbujhkl opened #35 "Java Error"
I am encountering a Java error when I try to use tabulizer. Here is the relevant code and the error:

![sg](https://cloud.githubusercontent.com/assets/25621920/22712190/bd062108-ed38-11e6-8ffc-2c4b51ded50e.jpg)

The options command maxes out the memory available to Java.

I'm working on a MacBook Pro (Retina, 13-inch, Mid 2014), 2.8 GHz Intel Core i5, 16 GB 1600 MHz DDR3
R 3.3.2

[2017-02-09 09:05] leeper commented on #35
Duplicate of #19

[2017-02-09 09:05] #35 closed

[2017-02-09 09:06] leeper commented on #19
@jli-vericred Can you confirm exactly what you did to solve this? I'd like to add something to the README about it given multiple users have encountered the issue.

[2017-02-09 16:38] jli-vericred commented on #19
It's been a while, but I think, if I remember correctly, I used the following:

`options(java.parameters = "-Xmx16000m")`

[2017-02-09 17:05] leeper commented on #19
Thanks!

[2017-02-10 04:58] robsalasco commented on #19
Thank you!

[2017-02-10 08:11] #19 closed

[2017-02-10 08:12] #14 closed

[2017-02-20 10:31] kforner opened #36 "annoying warning"
Hello,
I get plenty of messages:

I saw that they come from localize_file(). It seems that the temp path (which is probably not needed for non-URL loaded files) is built using tempdir(), which explains the above message.
Why not using tempfile() to build a proper temporary path ? Or do not copy the file if it is not needed ?

P.S
tabulizer works great !

[2017-02-20 12:06] leeper commented on #36
Yea, I have no idea why I did it that way. I'll put this on the todo list.

[2017-02-28 20:14] pboesu opened #37 "blank images in locate_areas and make_thumbnails"
Hi,

I'm having some issues with PDF files that I created from scans (TIFF -> adobe acrobat OCR -> PDF). `extract_tables` works fine on most of them, but occasionally misses the last row of a table. I therefore tried to get better results with `locate_areas`. However, the shiny app simply shows an empty image. The same happens when I use `make_thumbnails` on these files; a blank PNG is created.

B

[2017-02-28 20:27] leeper commented on #37
Does that occur with all image formats (not just png)?

[2017-02-28 20:47] pboesu commented on #37
Yes. Empty images for all formats.

I've provided a self contained example here: https://github.com/pboesu/tabulizer_example

[2017-03-06 14:41] maskegger opened #38 "extract_tables() doesn't work with the new update"
Hi,

All my packages were deleted due to some stupid mistake. Upon reinstalling (in windows), extract_tables() doesn't work anymore and gives me this error.
[code]
I reinstalled java and but it gives me the same error. I tried repeating the process on my mac as well and it shows the same error. Is there something I'm doing wrong?

[2017-03-06 16:03] leeper commented on #38
Can you make a fully reproducible example?

[2017-03-06 18:20] NataliaLamberova commented on #13
Same error

[2017-03-06 22:28] alanpaulkwan opened #39 "memory issues"
Dear Tabulizer team,

When extracting hundreds of PDFs, is there a good way to clear memory? The memory use keeps growing and I assume this is due to unreleased objects floating around in the heap.

[2017-03-06 22:29] alanpaulkwan commented on #39
Another thought was to parallelize the use of tabulizer so that each parallel instance manages destroying objects in the heap. However, using mclapply, foreach or parallel tabulizer doesn't behave properly. Any thoughts would be interesting. Let me know if I have to provide an example.

[2017-03-07 07:25] leeper commented on #39
It seems possible something is not getting cleared. Have you been able to identify at all where the issue is coming from specifically?

[2017-03-07 23:47] snoopyhaimaxuan opened #40 "Error using get_n_pages()"
Hi, an error as follows occurred when I tried to get the number of pages of a PDF file. I am not sure if it's because of the size of the file, but increasing the JAVA memory didn't help.

`Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  org.apache.pdfbox.exceptions.WrappedIOException`

Thank you!

[2017-03-08 08:51] leeper commented on #40
Is this on all PDFs or one specific file? If the former, can you make a reproducible example? If the latter, can you share the PDF?

[2017-03-08 20:24] snoopyhaimaxuan commented on #40
Hi, Thank you for the reply!
It only happened to a specific PDF (I used the try-error function to avoid temporarily, so I don't know if this is the only one). Oops the file is too large, so I pasted the address to it.
http://static.globalreporting.org/report-pdfs/2011/4038e784aca44d8098c6b7726cc85095.pdf

[2017-03-09 10:33] leeper commented on #40
Thanks. I'll investigate.

[2017-03-13 04:32] eaglechan123 opened #41 "Error installing"
I have tried to install in RStudio both

and

according to http://stackoverflow.com/questions/39132202/trouble-installing-tabulizer-package-for-r

but the result shows

There is tabulizerjars in the library but not tabulizer.

when i typed

 it shows

When I typed

it shows

              NA

Anyone know how to solve this please? There is no tabulizer in the library at the moment.

Thank You.

[2017-03-13 06:22] leeper commented on #41
Can you run this with the argument `verbose = TRUE`? It will better show where the error is occurring.

[2017-03-13 08:11] eaglechan123 commented on #41
When I typed

it shows

Creating local git repository for tabulizer in c:\temp\RtmpOeaCdv\tabulizer2e1019602f0f...
Checking out package tabulizer to local git repository...
[new]     378614083d16b033f0f7 refs/remotes/github/master
Adding metadata to DESCRIPTION for package tabulizer...
Reading package metadata for 'leeper/tabulizer'...
Installing 'Suggests' packages for 'tabulizer': graphics, grDe

[2017-03-13 11:51] leeper commented on #41
Can you try installing with `devtools::install_github("leeper/tabulizer")`?

[2017-03-13 13:46] eaglechan123 commented on #41
It worked. Thank you.

I am new to R and trying your example. For your first example, after i typed the following, it shows list of 3 instead of list of 4

List of 3
 $ : chr [1:32, 1:10] "mpg" "21.0" "21.0" "22.8" ...
 $ : chr [1:7, 1:3] "Sepal.Width" "3.5" "3.0" "3.2" ...
 $ : chr [1:15, 1] "supp" "VC" "VC" "VC" ...

Also, when I try to export it to excel using

Error in (function (..., row.name

[2017-03-13 14:30] leeper commented on #41
Glad you got it to work. I'm not sure what the problem is with the `write.xlsx()` code.

[2017-03-13 14:30] #41 closed

[2017-03-14 13:53] #38 closed

[2017-03-14 13:57] leeper commented on #18
This PDF appears to no longer be available. Please let me know if you're still encountering this issue. If so, I will reopen.

[2017-03-14 13:57] #18 closed

[2017-03-14 13:57] #36 closed

[2017-03-14 13:57] #40 closed

[2017-03-14 13:58] leeper commented on #13
Can everyone on this thread let me know if this is still occurring with the latest versions of tabulizer and tabulizerjars (v0.9.2)? I've run the example from @thatsawinner and it appears to be working.

[2017-03-14 14:03] leeper commented on #37
After having looked over this, I suspect tabulizer is not the right tool here. Because these are scans, the information is actually stored as images. Perhaps something like `plot(magick::image_read(pdftools::pdf_render_page(f)))` will get you closer to what you need. I don't think PDFBox is designed to handle images in PDFs very well.

[2017-03-14 14:03] #37 closed

[2017-03-14 17:04] jzadra opened #42 "extract_tables() error: java.lang.NoSuchMethodError"
I've just installed tabulizer from github.  I'm using MacOS Sierra.  I also installed the legacy java from the link given on the install instructions (https://github.com/ropensci/tabulizer#installation >  https://support.apple.com/kb/DL1572?locale=en_US).

When I use extract_tables(), I get the following error:

`location <- 'http://www.edd.ca.gov/jobs_and_training/warn/WARN-Report-for-7-1-2016-to

[2017-03-14 17:58] jzadra commented on #42
`traceback()`
7: stop(list(message = "java.lang.NoSuchMethodError: java.lang.Integer.compare(II)I",
       call = .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod",
           cl, .jcast(if (inherits(o, "jobjRef") || inherits(o,
               "jarrayRef")) o else cl, "java/lang/Object"), .jnew("java/lang/String",
               method), j_p, j_pc, use.true.class = TRUE, evalString = simpl

[2017-03-16 17:37] soedr commented on #42
I'm facing the same issue on the same setup as @jzadra. Any thoughts on how to address this is greatly appreciated!

[2017-03-16 20:55] jrcunning commented on #42
Having the same issue here!

[2017-03-17 09:31] leeper commented on #42
@soedr @jrcunning Are you also on Mac? Versions?

[2017-03-17 13:00] jrcunning commented on #42
Yes, on Mac. I also installed the legacy java using the same link as @jzadra. Here is my Session Info:

R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.12.3 (Sierra)

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached

[2017-03-17 17:24] leeper commented on #42
@jrcunning Thanks. Can you tell me what version of Java you installed? (The underlying java library - tabula - has some updates and it looks like they're causing Mac-specific issues.)

[2017-03-17 20:42] leeper commented on #14
You need Rtools.

[2017-03-17 21:15] soedr commented on #42
@leeper Yes, on Mac. Followed same procedure as @jzadra and @jrcunning. Session info:

     R version 3.3.2 (2016-10-31)
     Platform: x86_64-apple-darwin13.4.0 (64-bit)
     Running under: macOS Sierra 10.12.3

     locale:
     [1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

     attached base packages:
     [1] stats     graphics  grDevices utils     datasets  methods   base

[2017-03-17 21:46] jrcunning commented on #42
Java SE 6

[2017-03-17 22:22] krasopiano commented on #14
Thanks. I installed RTools and error messages have reduced to:
Warning messages:
1: running command '"C:/Users/kraso_piano/DOCUME~1/R/R-33~1.3/bin/i386/R" CMD INSTALL --no-multiarch -l "C:\Users\kraso_piano\Documents\R\win-library\3.3" C:\Users\kraso_piano\AppData\Local\Temp\RtmpmUnCAD/downloaded_packages/rJava_0.9-8.tar.gz' had status 1
2: In utils::install.packages(to_install, type = type, repos

[2017-03-18 14:30] leeper commented on #14
Are you running that in a fresh R session? I might suggest trying to install rJava first on its own using `install.packages()`, then try installing tabulizer.

[2017-03-20 15:30] krasopiano commented on #14
Thanks leeper. I installed rJava but still got these 2 warning messages. Sorry for the back and forth. Any ideas? Really want to get this to work.

Warning messages:
1: running command '"C:/Users/kraso_piano/DOCUME~1/R/R-33~1.3/bin/i386/R" CMD INSTALL --no-multiarch -l "C:\Users\kraso_piano\Documents\R\win-library\3.3" C:\Users\kraso_piano\AppData\Local\Temp\RtmpWSRctE/ghitdrat/src/contrib/tabuliz

[2017-03-20 18:52] leeper commented on #14
@krasopiano Can you try installing with devtools: `devtools::install_github("ropensci/tabulizer")` ?

[2017-03-24 19:17] karthik commented on #13
A student of mine is trying to use the package for a class project and having the same issues. I tried to install it on my system and also facing the same.

Versions

[code]

Example from README

[code]
Traceback

[code]

<details><summary>Session info</summary>

[code]
  </details>

[2017-03-30 18:06] cboettig opened #43 "Consider adding tabularizerjars to remotes until it's on CRAN?"

[2017-03-30 20:06] ahassanali commented on #42
Facing the same issue. Would appreciate help.

[2017-03-31 11:58] leeper commented on #42
It seems the latest version of the tabula library is likely the issue. Consider re-installing an older version of tabulizerjars with, for example:

[code]

[2017-03-31 12:00] #43 closed

[2017-03-31 19:42] jcAugur commented on #14
I'm having this issue too. I cannot seem to get tabulizer to install.  I have tried a lot of the above ideas.

Code:

install.packages("tabulizer")
Installing package into ‘C:/Users/jecrosbie/Documents/R/win-library/3.3’
(as ‘lib’ is unspecified)
Warning message:
package ‘tabulizer’ is not available (for R version 3.3.3)

[2017-03-31 23:17] leeper commented on #14
@jcAugur the package is not on CRAN yet so you cannot install that way.

[2017-04-02 21:14] kiranhsgithub opened #44 "tabulizer is not available (for R version 3.3.2)"
I tried installing this R package and it gave below error.

Installing package into ‘C:/Users/hskir/Documents/R/win-library/3.3’
(as ‘lib’ is unspecified)
Warning in install.packages :
package ‘tabulizer’ is not available (for R version 3.3.2)

May I know which version is supported. Thanks

[2017-04-03 06:10] leeper commented on #44
It is not on CRAN. You have to install using `ghit::install_github("ropensci/tabulizer")` or `devtools::install_github("ropensci/tabulizer")`

[2017-04-03 06:10] #44 closed

[2017-04-03 20:03] tangyuanxd commented on #14
Hi @leeper thanks so much for all your help. I'm running into a "32 warnings error" when trying to download Tabulizer.

I use:
`if (!require("ghit")) {
    install.packages("ghit")
}
# on 64-bit Windows
ghit::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"), INSTALL_opts = "--no-multiarch")`

I get the output:
also installing the dependencies ‘Rcpp’, ‘stringi’, ‘httpuv’, ‘mime’, ‘h

[2017-04-03 20:15] tangyuanxd commented on #14
I also tried using `devtools::install_github("ropensci/tabulizer")` and got the following error:
Downloading GitHub repo ropensci/tabulizer@master
from URL https://api.github.com/repos/ropensci/tabulizer/zipball/master
Installing tabulizer
Downloading GitHub repo ropensci/tabulizerjars@master
from URL https://api.github.com/repos/ropensci/tabulizerjars/zipball/master
Installing tabulizerjars
"C:/P

[2017-04-03 21:00] leeper commented on #14
@tangyuanxd Can you install **rJava** and confirm that it can load on its own before trying to install or load tabulizer?

[2017-04-03 21:35] tangyuanxd commented on #14
I've used:
`install.packages("rJava")
library("rJava)`

Output:`Installing package into ‘C:/Users/elizapan/Documents/R/win-library/3.3’
(as ‘lib’ is unspecified)
trying URL 'https://cran.rstudio.com/bin/windows/contrib/3.3/rJava_0.9-8.zip'
Content type 'application/zip' length 713967 bytes (697 KB)
downloaded 697 KB

package ‘rJava’ successfully unpacked and MD5 sums checked

The downloaded binary

[2017-04-03 21:46] tangyuanxd commented on #14
@leeper Do I need to point my rJava installation elsewhere? Thank you very much for your help.

[2017-04-04 05:49] leeper commented on #14
@tangyuanxd Try `devtool::install_github()` with `args = "--no-multiarch"` per above.

[2017-04-04 13:26] jrcunning commented on #42
I installed tabulizerjarms v0.9.0 but still getting the same error:

7: stop(list(message = "java.lang.NoSuchMethodError: java.lang.Integer.compare(II)I",
       call = .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod",
           cl, .jcast(if (inherits(o, "jobjRef") || inherits(o,
               "jarrayRef")) o else cl, "java/lang/Object"), .jnew("java/lang/String",
               method

[2017-04-04 13:52] VINODETRX commented on #14
Sir..
I am not able to install package tabulizer...kindly help
Warning message as mentioned below...
ghit::install_github(c("ropenscilabs/tabulizerjars", "ropenscilabs/tabulizer"))
also installing the dependency ‘png’

ropenscilabs/tabulizerjars     ropenscilabs/tabulizer
                   "0.9.2"                         NA
Warning messages:
1: running command '"C:/Users/37/DOCUME~1/R/R-33~1.2/bi

[2017-04-04 16:29] leeper commented on #14
@VINODETRX  Can you do:

[code]

and show me the console output?

[2017-04-04 17:01] VINODETRX commented on #14
Parsing reponame for 'ropensci/tabulizer'...
Creating local git repository for tabulizer in C:\Users\Vinod\AppData\Local\Temp\RtmpIFEmDt\tabulizer15ac1bf53172...
Checking out package tabulizer to local git repository...
[new]     14cde38ef5e6a115cc1f refs/remotes/github/master
Adding metadata to DESCRIPTION for package tabulizer...
Reading package metadata for 'ropensci/tabulizer'...
Installing 'S

[2017-04-04 17:03] VINODETRX commented on #14
Hi Leeper,
The above error is occurred after executing ghit::install_github("ropensci/tabulizer", verbose = TRUE, INSTALL_opts = "--no-multiarch")

Guide me on the above error message

[2017-04-04 17:33] leeper commented on #14
@VINODETRX  Looks like png is the problem. Install that first using `install.packages("png")` then try again.

[2017-04-04 17:40] VINODETRX commented on #14
Hi Leeper,
Thank you for your assistance..
Problem is solved

[2017-04-05 10:05] leopoldinho opened #45 "Not loading in R"
Hi, I confess I'm not an expert R user but I seem to have some problems in installing Tabulizer in R.

I'm using R Studio and working in a 64bit Windows environment.

I tried loading the package using this line (as I had seen in another thread):

`ghit::install_github(c("leeper/tabulizerjars", "leeper/tabulizer"), INSTALL_opts = "--no-multiarch", dependencies = c("Depends", "Imports"))
`

And that

[2017-04-05 13:42] leeper commented on #45
@leopoldinho A couple of general suggestions:

 - `ghit::install_github(c("leeper/tabulizerjars", "leeper/tabulizer"), INSTALL_opts = "--no-multiarch", verbose = TRUE)` will give you some more details on what is failing.
 - Make sure **rJava** is installed first, that seems to be causing problems for some people.
 - The **png** package also seems to cause problems on some platforms, so I would rec

[2017-04-05 16:05] leopoldinho commented on #45
Thanks for your answer. I think the problem is indeed with rJava which seems not to work even if I install it first.

That's what the error message I get (part of it).

I've seen elsewhere on the web that this seems to be a pretty common problem with that package.  Any suggestion on how to fix it?

Thanks a lot for any help.

[2017-04-05 16:26] leeper commented on #45
It might be your `JAVA_HOME` environment variable. Try something like `Sys.setenv(JAVA_HOME = "C:/Program Files/Java/jdk1.8.0_92")` maybe?

[2017-04-07 16:40] jazzido commented on #42
Hey @leeper, tabula author here. Would love to help sorting this issue out, as the latest versions have significant perfomance and accuracy improvements.

Would it be possible to get a code snippet that reproduces the issue?

Thanks.

[2017-04-07 20:22] leopoldinho commented on #45
Thanks for the suggestion but even that doesn't seem to work for me, unfortunately

[2017-04-07 21:37] supermdat commented on #14
Hi leeper.

I seem to be having trouble on install using the method in the Readme. It looks like an error with locking a directory?

My sessionInfo and console output are below.  Any help is appreciated.

------------------------------------------------

sessionInfo()
R version 3.2.3 (2015-12-10)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.12.4 (unknown)

locale:
[1] en_US.

[2017-04-08 15:39] leeper opened #46 "Comprehensive installation instructions"
This is a **help wanted!** issue. There are a wide and somewhat recurring set of installation issues, mostly related to variation in Java and rJava across platforms. If anyone wants to contribute PRs to help document troubleshooting, please submit them around this issue. In particular, the README could benefit from even more detail about installation processes, based around OS:

- [ ] Linux
  - [

[2017-04-08 15:45] leeper opened #47 "Example use cases, tutorials, and applications"
This is a **help wanted!** issue for anyone to contribute example uses of tabulizer to [the package wiki](https://github.com/ropensci/tabulizer/wiki). The idea is to add links to existing blog posts or tutorials, as well as add new examples to the wiki itself that showcase various functionality. Anyone can add an example by editing the wiki directly.

[2017-04-08 16:03] leeper opened #48 "Handling issues related to upgrade to PDFBox 2.0"
The [tabula-java library is moving to PDFBox 2.0](https://github.com/tabulapdf/tabula-java/issues/52), which will have consequences not only for the tabula API but also for some of the utility functions that tabulizer implements by calling PDFBox classes directly. This is flagged as [an issue at tabulizerjars](https://github.com/ropensci/tabulizerjars/issues/3) and will likely have numerous conseq

[2017-04-08 16:06] leeper opened #49 "Improve Shiny-based `extract_areas()` functionality"
Both [`locate_areas()` and `extract_areas()`](https://github.com/ropensci/tabulizer/blob/master/R/try_area_methods.R) use, optionally, a Shiny interface to identify areas. This could probably improved because I'm not much of a Shiny expert. Any advice on improvements and new functionality can be pitched here and/or submitted as PRs.

[2017-04-09 16:53] wtro commented on #42
I have the same problem.

Version

[code]

Code from ?extract_files

[code]
Traceback
[code]
Thank you

[2017-04-11 13:16] jkeuskamp commented on #42
Version

[code]

Code

[code]
Reply

[code]
traceback()

[code]

[2017-04-11 15:43] jazzido commented on #42
@leeper I'm quite sure that this only happens in Java 6.

[2017-04-13 15:50] jkeuskamp commented on #42
When running tabula-0.9.2.jar from the terminal more info is provided:

[code]

[2017-04-13 15:52] jazzido commented on #42
@jkeuskamp Can you run `java -version` on a terminal? I'd like to confirm if that error occurs only with Java 6.

[2017-04-13 16:01] jkeuskamp commented on #42
Dear Manuel,

Just added that to my reply.
It is indeed Java 6:

java version "1.6.0_65"
Java(TM) SE Runtime Environment (build 1.6.0_65-b14-468-11M4833)
Java HotSpot(TM) 64-Bit Server VM (build 20.65-b04-468, mixed mode)

……………………………………………………………………………………………………………..
Dr Joost A. Keuskamp

Research Associate
Utrecht University,
Department of Ecology & Biodiversity

Postdoctoral researcher 
Netherlan

[2017-04-13 16:07] jazzido commented on #42
Thanks @jkeuskamp. Can't help you much about tabulizer, but tabula itself will work under a newer version of the Java virtual machine (7 or 8). Bear in mind that Java 6 has stopped receiving updates and support since 2013.

I'd recommend that you update your Java installation and try again.

[2017-04-14 09:25] jkeuskamp commented on #42
This solved the issue for me:
I Installed JVM 8 and pointed RStudio to its installation as described [here](http://stackoverflow.com/questions/28796108/r-rstudio-yosemite-and-java)

to make tabulizer use JVM 8, edit the file ~/.profile and set the following env variables:

[code]

[2017-04-14 22:13] supermdat commented on #42
After trying the fix that solved things for jkeuskamp, I unfortunately still receive the "java.lang.NoSuchMethodError: java.lang.Integer.compare(II)I" error.

--------------------------

sessionInfo()
R version 3.3.3 (2017-03-06)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS Sierra 10.12.4

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base

[2017-04-15 08:49] jkeuskamp commented on #42
@supermdat could you confirm that java 8 is indeed called from R?
You can check this by typing

`library(rJava)
.jinit()
.jcall("java/lang/System", "S", "getProperty", "java.runtime.version")`

this should return someting like

`"1.8.0_121-b13"`

The second number tells you whether java 6/7/8 is called.

[2017-04-15 15:53] supermdat commented on #42
Thanks very much, @jkeuskamp . That is indeed the difference.

Running java -version from terminal gives:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

However, running
library(rJava)
.jinit()
.jcall("java/lang/System", "S", "getProperty", "java.runtime.version")

from within RStudio gives
"1.6.0_65-

[2017-04-16 11:59] jkeuskamp opened #50 "locate areas / extract tables renders unexpected results"
I have a small issue with the way `locate_areas` and `extract_tables` interact

I use something like:

[code]
`areas_to_extract` is a list of length pages, with each position representing a page.
Positions representing pages that I have specified areas for contain coordinates,
while the pages that I have not indicated an area for, are left empty.

When passing the generated list to `extract_tables

[2017-04-16 14:43] jkeuskamp commented on #42
@leeper Just noticed that the README.Rmd mentions:

You probably want to remove this line, as tabulizer now requires Java 7/8

[2017-04-16 14:45] leeper commented on #50
You want to invoke the `pages` argument here. The meaning of `NULL` in `areas` is not to skip the page, but to apply the autodetection to the whole page (rather than the subset thereof specified in `areas`). If you want to skip a page entirely, you need to leave it out of `pages`, so you might try something like this:

[code]

[2017-04-16 18:18] ejg830 commented on #13
Same problem and I have the latest version of tabulizer and tabulizerjars (just started this project a few days ago. Has anyone found a solution?

I ran a test PDF and everything worked fine. I exited my R Session and came back to run more PDFs later, that's when I started getting the error. Now I can't even run the original test PDF.

[2017-04-20 06:29] lmmonline opened #51 "How to install from local directory?"
Hi I have downloaded the zip file to C:/Users/Public.
My operating system is windows7 64 bit.  My version of R is 3.3.2
 I have tried ...
[code]

I have also tried

[code]
Can you please give some instructions for installing tabulizer from a local zip files? Thank you.

[2017-04-20 07:22] leeper commented on #51
You cannot install from the zip file downloaded from GitHub. You have to unzip it, then run `R CMD build tabulizer` in command prompt. If you're not experienced doing that, I wouldn't try. Instead, I would try to resolve the internet connection issue that is clearly preventing you from installing directly from GitHub. Are you behind a strict firewall or using a proxy server to connect to the inter

[2017-04-20 09:43] lissahyacinth commented on #42
@supermdat

Found similar issue on [rJava GitHub](https://github.com/s-u/rJava/issues/78)

Managed to force rJava to use 1.8 by running
`R CMD javareconf JAVA_CPPFLAGS=-I/System/Library/Frameworks/JavaVM.framework/Headers`
then reinstalling rJava from source with
`install.packages("rJava", "http://rforge.net/", type="source")`

If you run into issues then loading rJava with something similar to
`e

[2017-04-20 16:05] peterblair commented on #42
Hi all,

Would there be any way at all of getting tabulizer to work with Java 6? I'm having the above NoSuchMethodError issue but on Windows with Java 6 installed (unfortunately can't update Java very easily as it's a work computer without admin rights) Perhaps an older version of tabulizer and/or tabulizerjars?

Thanks for any help anyone can offer!

[2017-04-20 16:37] moman822 opened #52 "locate_areas() widget issue"
I am getting the following error when using `locate_areas()` with the native or reduced widgets;

[code]

When searching this error, I was led to [this](https://github.com/ropensci/tabulizer/blob/master/R/try_area_methods.R) file: `try_area_methods.R`

Looking on line 74 there is this condition that shows the final line of my error:
[code]
There is also this similar condition on line 103 (note the

[2017-04-20 20:53] leeper commented on #52
I've just patched this. Can you try reinstalling and see if it's working for you?

[2017-04-20 20:56] leeper commented on #42
@peterblair You can definitely try pulling an older version of tabulizerjars; the versions are all available as releases on GitHub and they are numbered to align with tabula-java release numbers, e.g.: `ghit::install_github("ropensci/tabulizerjars@v0.8.0")`

[2017-04-20 21:10] moman822 commented on #52
It is! Thank you, and great package.

[2017-04-20 21:22] #52 closed

[2017-04-21 05:01] lmmonline commented on #51
Thanks for you answer leeper, I have been installing from CRAN with no problem, and as  this is not the computer I usually use with github this makes me think the credentials required are for github and this is what I need to sort out to fix the connection issue. I just thought it may be faster to install from local but from what you are saying probably not. That's OK there are guides for github w

[2017-04-21 05:01] #51 closed

[2017-04-21 09:28] peterblair commented on #42
Just for info, installing tabulizerjars v0.8.0 works with Java 6 on Windows. Thanks very much!

[2017-04-21 18:10] moman822 opened #53 "Use extract_areas() within Shiny app"
I am receiving the following error when attempting to use `extract_areas()` within a Shiny app:

`Warning: Error in shiny::runApp: Can't call `runApp()` from within `runApp()`. If your ,application code contains `runApp()`, please remove it.`

I gather that this is because `extract_areas()` calls/creates its own Shiny app and that is not allowed within an already existing Shiny environment. I am w

[2017-04-21 20:01] leeper commented on #53
I guess I wouldn't try to do this. It's a complete app, not a widget, so I don't know how you could incorporate it into another app.

[2017-04-23 09:18] ogorodriguez opened #54 "Error installing unable to init repository"
When I try to install tabulizer after activating png and rJave this is the error I receive:

[code]

I have searched online for such type of error and haven't found anything related.  Any help on this issue will be highly appreciated.

[2017-04-23 10:08] ogorodriguez commented on #54
On the other hand when I try with devtools...  I get the error command  failed (1)  What could be the issue?  Willing to provide more info regarding my system if indicated.  New to R.  Thanks in advance.

devtools::install_github(c("leeper/tabulizerjars", "leeper/tabulizer"), args = "--no-multiarch", dependencies = c("Depends", "Imports"))
Downloading GitHub repo leeper/tabulizerjars@master
from U

[2017-04-23 10:54] leeper commented on #54
I think you lack write permission for your own R library directory. Try running R as an administrator or change the permissions for your directories.

[2017-04-23 11:00] #53 closed

[2017-04-23 18:22] ogorodriguez commented on #54
Thanks for the prompt reply.  I have tried running as admin (rstudio as an admin) and I still get the same error.  How can I change the permissions for my directories?

[2017-04-23 18:41] leeper commented on #54
Looking again I think it may be because the path to your temporary directory is not an ASCII string (due to your account's user name). You might try changing the temporary directory using environment variables, perhaps:

[code]

And then try the installation again. If you use ghit, set `verbose = TRUE` to get more information about where exactly this failed.

[2017-04-23 22:17] jkeuskamp opened #55 "pre-fetched thumbnails in locate_areas to improve speed"
@leeper
I have cloned your excellent package as I am planning to make some minor modifications for my specific use-case. It may be that you wish to incorporate some of them in you package.

I have for example added the option to use pre-fetched thumbnails for use in the `locate_areas` function to improve loading speeds. The function now has an extra option that can be used to inducate a directory

[2017-04-24 07:23] leeper commented on #55
Sure. Open a PR.

[2017-04-27 05:07] Dharma106 commented on #14
Hi Leeper,

It's seems without your help i won't be able to install  tabulizer package. I have been trying all your suggested methods but keep getting error. Kindly help me.

ghit::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"), INSTALL_opts = "--no-multiarch")
Error: Package build for tabulizerjars failed with the following output:

Then I tried traceback() function to see the s

[2017-04-27 07:58] leeper commented on #14
@Dharma106

1. Do you have **rJava** installed and does it load successfully?
2. If that works, run `ghit::install_github("ropensci/tabulizerjars", INSTALL_opts = "--no-multiarch", verbose = TRUE)` and paste the complete output here.
3. Also provide the output of `sessionInfo()`

[2017-04-27 08:44] Dharma106 commented on #14
Yes rJava is installed and working properly.

Parsing reponame for 'ropensci/tabulizerjars'...
Creating local git repository for tabulizerjars in C:\Users\kumard1\AppData\Local\Temp\Rtmpony5OE\tabulizerjars1c8c37473da5...
Checking out package tabulizerjars to local git repository...
[new]     c6cc40e055d3f92c4e96 refs/remotes/github/master
[new]     49e8e460fd627b6b05db refs/tags/v0.8.0
[new]

[2017-04-27 08:53] leeper commented on #14
@Dharma106 Do you have [Rtools](https://cran.r-project.org/bin/windows/Rtools/) installed on your computer?

[2017-04-27 08:55] jkeuskamp commented on #49
I am working on a new Shiny interface for my application of tabulizer::locate_areas.
When finished I'll do a pull request.

[2017-04-27 09:11] Dharma106 commented on #14
No, "Rtools" is not installed.

[2017-04-27 09:15] leeper commented on #14
@Dharma106 You need that first.

[2017-04-27 09:25] jkeuskamp commented on #49
to give you an idea, this is what my code currently looks like; suggestions are welcome.
[code]

[2017-04-27 09:42] Dharma106 commented on #14
@leeper I installed Rtools, then ran the code and still the error is same.

[2017-04-27 09:48] leeper commented on #14
@Dharma106 Can you try using `devtools::install_github("ropensci/tabulizerjars")`

[2017-04-27 09:57] Dharma106 commented on #14
@leeper with devtools::install_github("ropensci/tabulizerjars")
the error is showing as
'C:\Program' is not recognized as an internal or external command,
operable program or batch file.

Downloading GitHub repo ropensci/tabulizerjars@master
from URL https://api.github.com/repos/ropensci/tabulizerjars/zipball/master
Installing tabulizerjars
"C:/Program Files/R/R-34~1.0/bin/x64/R" --no-site-file --

[2017-04-27 10:01] leeper commented on #14
@Dharma106 R is not on your system path. You'll need to edit that.

[2017-04-27 10:11] Dharma106 commented on #14
@leeper how to do that?

[2017-04-27 10:15] leeper commented on #14
@Dharma106 This might be helpful: https://superuser.com/questions/79612/setting-and-getting-windows-environment-variables-from-the-command-prompt

[2017-05-02 00:19] jkeuskamp commented on #49
I placed another incarnation of a potential shiny interface for tabulizer online on www.keuskamp.com. If you want to have a look please mail send me an email so that I can make an account. I am not a Shiny expert at all so I'll need some time to optimize the code, but its getting there

[2017-05-23 21:48] scchu362 opened #57 "Tabulizer install in Windows 10 without Admin rights"
Hi,

I am relatively new to R, though experienced in builds and packages.

I am getting stuck at this point from the R 64 Gui on Windows 10:

Parsing reponame for 'ropensci/tabulizerjars'...
Creating local git repository for tabulizerjars in C:\Users\chus\AppData\Local\Temp\3\Rtmp0eDJGD\tabulizerjars2268698412c0...
Checking out package tabulizerjars to local git repository...
[new]     c6cc40e055d

[2017-05-24 06:38] leeper commented on #57
Perhaps try changing your .libPaths() to somewhere you have access rights.

[2017-06-14 11:34] abhivedula commented on #15
While using extract_areas in a shiny app, it is giving an Error: Can't call `runApp()` from within `runApp()`. If your application code contains `runApp()`, please remove it.
I understand, extract_areas is built as a shiny based functionality but I want to upload PDFs using shing  InputFile and id pages to locate areas and extract.
Is there simple way to get the same?
Thanks in advance

[2017-06-14 21:44] leeper commented on #15
@abhivedula You can't use `extract_areas()` in a shiny app because it is a shiny app. If you want to use the underlying functionality, pass input to `extract_tables()`.

[2017-06-15 11:41] abhivedula commented on #15
Thanks for the reply Leeper. I have an additional question. Can we develop a customized version extract_tables as shiny app to host online ?

[2017-06-15 11:49] leeper commented on #15
You're more than welcome to. This package is licensed MIT, so as long as you comply with that you should be good to go.

[2017-06-15 11:56] abhivedula commented on #15
Sorry to bother you. One last question on this topic. I am developing a shiny app to host in shinyapps.io. It should have a file upload feature and once we upload PDF, it should give option to select areas for extract tables just like the extract_areas feature which does that in viewer.
I am relatively new to R so please bear with my ignorance.

[2017-06-15 12:06] leeper commented on #15
I am not a shiny expert so I really can't provide any assistance with that.

[2017-06-15 12:08] abhivedula commented on #15
Thanks a lot leeper. Btw tabulizer is awesome :)

[2017-06-27 20:51] khailper opened #58 "Installation difficulties"
When I try to install tabulizer with verbose = TRUE, I get this error:

Parsing reponame for 'ropensci/tabulizerjars'...
Creating local git repository for tabulizerjars in C:\Users\KARLHA~1\AppData\Local\Temp\Rtmpm63WkT\tabulizerjars2c741df776f4...
Checking out package tabulizerjars to local git repository...
[new]     c6cc40e055d3f92c4e96 refs/remotes/github/master
[new]     49e8e460fd627b6b05db

[2017-06-27 20:52] khailper commented on #58
To clarify, this is the command I ran:
ghit::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"), INSTALL_opts = "--no-multiarch", verbose = TRUE)

[2017-06-27 20:56] khailper commented on #58
Never mind.  Running in console r as admin rather than RStudio seems to have done the trick.

[2017-06-27 20:56] #58 closed

[2017-07-03 08:01] Lionel68 opened #59 "Segmentation fault when install the package"
I am working with a 64bits ubuntu 16.04 and when I try to install the package using devtools::install_github("ropensci/tabulizer") I get the following:

Downloading GitHub repo ropensci/tabulizer@master
from URL https://api.github.com/repos/ropensci/tabulizer/zipball/master
Installing tabulizer
Downloading GitHub repo ropensci/tabulizerjars@master
from URL https://api.github.com/repos/ropensci/tab

[2017-07-03 19:35] leeper commented on #59
Did you try installing **tabulizerjars** first? Or try using `ghit::install_github()` instead of devtools?

[2017-07-04 07:19] Lionel68 commented on #59
Installing tabulizerjars first and then tabulizer worked for me (using devtools). Thanks!

[2017-07-04 07:19] #59 closed

[2017-07-04 09:15] aayush-nangru commented on #45
@leopoldinho  - Were you able to get around the issue? I get the same error while trying to install tabulizer. I am able to install rJava though.

_Error : .onLoad failed in loadNamespace() for 'rJava', details:
call: fun(libname, pkgname)
error: No CurrentVersion entry in Software/JavaSoft registry! Try re-installing Java and make sure R and Java have matching architectures.
ERROR: lazy loading f

[2017-07-05 08:15] leopoldinho commented on #45
No, unfirtunately I could not solve the problem and had to give up Tabulizer

[2017-07-05 08:35] aayush-nangru commented on #45
Ah okay. Thanks for your response.

[2017-07-14 14:25] jiang-hang commented on #22
I just send a PR as mentioned by SteveLane. The list_matrices is fixed.

[2017-07-17 00:18] NikkiPDX15 commented on #44
Having trouble installing tabulizer with the above suggestion. still shows as NA at the bottom of screen after attempt to install

[2017-07-17 09:58] leeper commented on #44
@NikkiPDX15 Please try all suggestions listed here: https://ropensci.org/blog/blog/2017/04/18/tabulizer If none of those work, please add your `sessionInfo()` output and the complete installation code and output from `ghit::install_github("ropensci/tabulizer", verbose = TRUE)` installation attempt to the issue here: https://github.com/ropensci/tabulizer/issues/46

[2017-07-21 10:14] zx8754 opened #61 "Can't get the tables from PDF using "extract_tables""
I have below PDF, which seems to have "clean" tables. But *extract_tables()* gives me an empty list.
http://databank.worldbank.org/data/download/GDP.pdf

[code]

I tried to use *extract_areas*, which works fine.

Any pointers why wouldn't *extract_tables* work? Maybe I missing some arguments?
[code]

[2017-07-24 17:30] johnypark commented on #13
Same problem occurs when using extract_tables and extract_areas. Tabular app itself works fine extracting pdf.
[code]
Java version
[code]
Session info
[code]

[2017-07-24 17:46] johnypark commented on #13
This seems to be the same issue as Issue #42, it appears to be rJava problem, not recognizing Java 8 and still using Java 6. Solution is suggested in Issue #42

[2017-07-28 16:39] leeper commented on #48
tabulizerjars has been updated ([on a branch](https://github.com/ropensci/tabulizerjars/tree/tabula1.0.0)) to 1.0.0

[2017-07-28 21:47] scottkosty commented on #61
I can reproduce. I wonder if extract_tables gets confused by the header lines. It would be nice if this worked automatically, since the PDF indeed is pretty clean. My guess is that this is an upstream issue (https://github.com/tabulapdf/tabula-java/) but I'd be happy if I were wrong.

I just wanted to note that you could set the area argument of extract_tables. I know that's not ideal, but better

[2017-07-29 07:02] leeper commented on #61
There's an update of Tabula that was released last week, which apparently includes a number of fixes and improvements. It is going to require a bit of work to integrate, but I will revisit this once those I have the new version working to see if that solves this.

[2017-08-11 14:19] DanStrobridge commented on #54
I'm also having an installation problem despite running Rstudio as an administrator and setting an environmental variable TMPDIR to C:\Windows\TEMP.  The information returned with verbose=TRUE is below:

``ghit::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"), INSTALL_opts = "--no-multiarch", verbose = TRUE)
Parsing reponame for 'ropensci/tabulizerjars'...
Creating local git repos

[2017-08-11 15:04] leeper commented on #54
@DanStrobridge Can you try installing "tabulizerjars" first? Also, you can try devtools instead of ghit, but it looks like your computer lacks a program for working with tar files.

[2017-08-11 15:58] DanStrobridge commented on #54
tabulizerjars was first in the vector of packages and it didn't work.  I agree that it seems the tar file is the issue.  I'm not sure why though since I'm running the MKS Toolkit unix emulator required by another software.  I'll find a tool explicitly for tar files and add it directly onto my path variable.

[2017-08-15 04:05] emilylaugh commented on #14
Hi Leeper,
I'm trying to install tabulizer, and I follow the following code but couldn't install it.

   install.packages("ghit")
}

It returns the following messages

Error: Package build for tabulizer failed with the following output:
* checking for file 'C:\Users\CYL\AppData\Local\Temp\RtmpoLg1Jo\tabulizer266425fc77a9/DESCRIPTION' ... OK
* preparing 'tabulizer':
* checking DESCRIPTION meta-info

[2017-08-15 04:29] leeper commented on #14
@emilylaugh can you open a new issue, and try all of the solutions on this thread, as well.

[2017-08-16 01:23] emilylaugh commented on #14
@leeper
Thanks, I install png and solve the problem.

[2017-08-19 21:52] luceydav commented on #14
Hi Leeper, I have a new MacBook Version 10.1.2 (12603.3.8), just upgraded R 3.4.1 and latest RStudio  64-bit. I think I have tried everything you mentioned above. See text from console attached below. If you are able to direct me how to install Tabulizer, I would be grateful. David
[
[tabulizer.docx](https://github.com/ropensci/tabulizer/files/1236690/tabulizer.docx)
](url)

[2017-08-19 23:00] leeper commented on #14
@luceydav can you paste that as plain text rather than uploading a file?

[2017-08-20 07:02] luceydav commented on #14
Thank you for taking a look...

R version 3.4.1 (2017-06-30)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.6

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.4/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US

[2017-08-20 13:51] leeper commented on #14
@luceydav Thanks. Are you able to use rJava succesfully (e.g., load the package and run any of its examples)?

[2017-08-20 18:32] luceydav commented on #14
@leeper, I'm pretty new at this, but believe so. For example, I loaded rWeka and used it successfully to run a model. I was not able to do this until I made recent upgrades to R and RStudio, and successfully finally figured out how to adjust RStudio to call Java 1.8.

[2017-08-23 12:31] d36191 commented on #14
Hi All
After 2 days fight, i was able to install the "tabulizer" and "tabulizerjar". I think that I went through most of the the problems and issues that are describe above. so my final solution was:

1-Install all the previous packages: rJar, ghit, etc and update Rstudio and R version (not sure if this was critical or not, but I have update then as well)
2-Change the internet connection to anothe

[2017-08-29 21:09] csmontt commented on #39
I have the same problem.
I´m using a for loop for extracting one page at a time from a large pdf at every iteration, and saving that page as a .rds file and eventually I run out of hard disk space.
The size of the .rds files are small, less than 3kb each, but my memory usage is a lot larger. For 726 extracted pages I went from 37.3 GB of free space in my hard disk to 29.6 GB.
 I recover all my mem

[2017-09-02 16:30] markhwhiteii opened #63 "Installation problem, non-zero exit status"
I am on macOS Seirra 10.12.5. I have installed Java (per the link on the README), and I have installed the rJava package. Here is what I get when I try to install using ghit and devtools:

[code]

[code]

I've looked through the previous, closed issues. I tried running `R CMD javareconf` in the terminal, with this error:

[code]

[2017-09-02 16:43] markhwhiteii commented on #63
This could also be due more to Java itself on my computer. I tried to get `tabula-py` to do this, and I got the error after running their function `read_pdf`:

[code]

Any ideas?

[2017-09-04 01:19] Mayalandy opened #64 "Error - Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl, : java.lang.IllegalArgumentException: Comparison method violates its general contract!"
Hi,

I really like this tabulizer and it's working very well. However, I recently tried to process a number of pdfs and am getting this error. Thought I'd pass it along.

Thanks
[ALL_2017_08_31.pdf](https://github.com/ropensci/tabulizer/files/1273396/ALL_2017_08_31.pdf)

[2017-09-08 14:50] jb1514 commented on #14
@leeper I have tried to install tabulizer in mutliple ways over the last week.  I have read though the above I believe I am close but I am getting a different error. after the following code I get the following error.

ERROR---Installation failed: Timeout was reached: Connection timed out after 10000 milliseconds
ERROR---Installation failed: Timeout was reached: Connection timed out after 10000 mi

[2017-09-10 14:07] psychemedia opened #65 "Options for Lattice / Stream Mode ?"
The [`tabulapdf/tabula-java`](https://github.com/tabulapdf/tabula-java) packages and API seems to have moved on compared to `ropensci/tabulizer`, for example in terms of the `lattice` and `stream` options.

Is support for these planned?

I think these options make it easier to extract multiple tables from a single page, eg as queried in https://github.com/ropensci/tabulizer/issues/22 ?

[2017-09-14 17:37] jzadra opened #66 "extract_tables() only does first few pages"
I have a 400+ page pdf.  When I use `extract_tables()` without specifying the `pages`, it only returns the first page.  I had a blank second page, so I deleted it and tried again without specifying the pages, and I got back 3 tables this time, from the first and second pages.

When I specify any of the 400 pages specifically, I get tables for that page.  When I give the pages argument a vector of

[2017-09-15 21:07] mvabl-steve commented on #63
I have the same issue, right down to the details. Will my adding this bump up its visibility? I really need a solution, or I have a lot of manual work ahead of me this weekend!

[2017-09-19 12:04] Maklawe commented on #13
I am having the same problem

Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.io.FileNotFoundException: C:\Users\vine\AppData\Local\Temp\RtmpWMRmDx\.pdf (The system cannot find the file specified)

[2017-10-09 16:18] osairisali opened #67 "Cannot open connection"
Hi, I have tried to install `tabulizer` using your installation instructions with Administrator rights on R console for Windows, but terribly got these issues:
`

Parsing reponame for 'ropensci/tabulizerjars'...
Creating local git repository for tabulizerjars in C:\Users\OSAIRI~1\AppData\Local\Temp\Rtmp0Wm6U8\tabulizerjars259455b14e31...
Checking out package tabulizerjars to local git repository..

[2017-10-09 19:20] leeper commented on #67
Try with `devtools::install_github("ropensci/tabulizerjars")` and then `devtools::install_github("ropensci/tabulizer")`

[2017-10-09 19:21] leeper commented on #65
`lattice` is the new name for `spreadsheet`. `stream` is not supported in tabulizer (yet).

[2017-10-12 19:35] Joribarash commented on #67
I'm having a similar problem on windows. The closest I've gotten is using devtools, but I get the error: "JAVA_HOME cannot be determined from the Registry" (among others) when installing tabulizerajars. I'm on a PC and I've installed java. All the other packages load separately. Here is my script:

[code]

[2017-10-13 02:15] osairisali commented on #67
I've successfully installing it by using the similar code as mentioned by @leeper  at https://github.com/ropensci/tabulizer/issues/14#issuecomment-243227379 with `args` argument:
`
library(devtools)
install_github(c("ropensci/tabulizerjars",
                         "ropensci/tabulizer"),
                      args = "--no-multiarch")
`
Run the code on R Console (not RStudio) with Administrator pe

[2017-10-13 14:15] wtro opened #68 "Embedded nul in string when trying to install"
When I try to install tabulizer and tabulizerjars, I receive the following error message:

`> if(!require("tabulizer")) {install.packages("https://github.com/ropensci/tabulizer/archive/master.zip", lib = Rlib, repos = NULL, type = "source")}
Loading required package: tabulizer
--2017-10-12 16:12:24-- https://github.com/ropensci/tabulizer/archive/master.zip
Resolving wwwproxy (wwwproxy)... 198.35.1

[2017-10-19 18:00] andybega commented on #63
This worked for me, from http://paulklemm.com/blog/2017-02-12-fix-onload-failed-rjava-macos/:

[code]

[2017-10-21 20:54] rhz opened #69 "extract_tables error: java.lang.NullPointerException"
When using extract_table on pdf files
http://www.comunidadesagricolas.cl/wp-content/uploads/nominas/2010/elqui/estero_derecho.pdf
http://www.comunidadesagricolas.cl/wp-content/uploads/nominas/2010/limari/rinconada_de_punitaqui.pdf
I get the following error
[code]

However, when using the last version of [tabula](https://github.com/tabulapdf/tabula-java/releases/tag/v1.0.1) (v1.0.1) and running it

[2017-11-13 02:59] davidruvolo51 commented on #63
I encountered the same errors. I running macOS Sierra 10.12.6 and Rstudio v1.1.383.

I installed `ghit` and `rJava`, but didn't get very far when I loaded `rJava`. (I encountered the `.onLoad failed in loadNamespace() for 'rJava'` error.)

In the comment by @andybega, there is a link to the following post [http://paulklemm.com/blog/2017-02-12-fix-onload-failed-rjava-macos/](http://paulklemm.com/bl

[2017-11-15 14:01] andorfermichael opened #70 "Missing data"
I have a pdf file with multiple pages. Odd pages contain nine columns of data, even pages contain eleven columns of data, meaning the columns of each two pages should be merged in a data frame.

The problem is that the rows of even pages sometimes do not contain meaningful data (na-values) which are indicated by a dash (-). If all columns of a row only contain na-values as described, Tabulizer com

[2017-12-01 01:28] ritika26 opened #71 "Not able to install tabulizer package in my mac."
ghit::install_github(c("leeper/tabulizerjars", "leeper/tabulizer"), verbose=TRUE)
Parsing reponame for 'leeper/tabulizerjars'...
Creating local git repository for tabulizerjars in /var/folders/0c/t0sf_6hn7d72zmg5g1_3_cjr0000gn/T//RtmpGADNiQ/tabulizerjars27065b46185c...
Checking out package tabulizerjars to local git repository...
[new]     60b7ceca5314717eace2 refs/remotes/github/master
[new]

[2017-12-05 18:49] helal06 opened #72 "Installation Problem"
library("tabulizer")
Error in library("tabulizer") : there is no package called ‘tabulizer’

I am using Windows 10. I have installed java on my computer then try the following code to install tabulizer.

if(!require("ghit")){
  install.packages("ghit")
}
# on 64-bit Windows
ghit::install_github(c("ropenscilabs/tabulizerjars", "ropenscilabs/tabulizer"), INSTALL_opts = "--no-multiarch")
# elsewhere

[2017-12-23 04:15] ajduncanson opened #73 "Can't install tabulizerjars - unknown timezone error"
I think I've followed all the install instructions for MacOS, but all I get in response to this:

ghit::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"))

Is this:

Warning in as.POSIXlt.POSIXct(x, tz) :
  unknown timezone 'default/Australia/Sydney'

Warning in as.POSIXlt.POSIXct(x, tz) :
  unknown timezone 'default/Australia/Sydney'

ropensci/tabulizerjars     ropensci/tabulizer

[2017-12-23 10:52] leeper commented on #73
Can you try reinstalling with either (a) setting `verbose = TRUE` to see where this is failing, or (b) use `devtools::install_github()` instead of `ghit`?

[2018-01-01 11:38] ChristophHanck opened #74 "identity-H encoding German letters"
I aim to extract this table: https://www.dropbox.com/s/pqkbmiq4ulr5gkz/Spielestatistik%202017.pdf?dl=0 Sorry for bothering you with this specific file, but since the issue may be with specific encodings I could not quickly come up with a more evident public reproducible example.

Running

[code]
leads to issues with German Umlauten (ä, ö, ü) as well as the double s (ß).

The file seems to have an

[2018-01-13 13:17] EliChambers commented on #13
I'm facing same error:

8: stop(list(message = "java.io.IOException: Error: End-of-File, expected line",
       call = .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod",
           cl, .jcast(if (inherits(o, "jobjRef") || inherits(o,
               "jarrayRef")) o else cl, "java/lang/Object"), .jnew("java/lang/String",
               method), j_p, j_pc, use.true.class = TRUE, evalString =

[2018-01-16 02:26] ajduncanson commented on #73
Still nothing:

Downloading GitHub repo ropensci/tabulizer@master
from URL https://api.github.com/repos/ropensci/tabulizer/zipball/master
Installing tabulizer
Downloading GitHub repo ropensci/tabulizerjars@master
from URL https://api.github.com/repos/ropensci/tabulizerjars/zipball/master
Installing tabulizerjars
'/Library/Frameworks/R.framework/Resources/bin/R' --no-site-file  \
  --no-environ --n

[2018-01-19 06:15] ajduncanson commented on #73
Seems there's an OSX / r problem with timezones so I used Sys.setenv(TZ="Australia/Sydney") to get passed that.

And struck a new error which I'll post separately....!

[2018-01-19 06:15] #73 closed

[2018-01-23 03:46] ldfreight commented on #14
I had same issue. I have 64 bit computer with 64 bit installation of R.
However when installing tabulizer for whatever reason it was fetching R 32bits binary files.

So I just renamed R/bin/i386 in R/bin/i386_old and restarted R. Now installation of tabulizer works with  install.github.
I am not sure whether it is a bug in tabuliser or in install.github

[2018-02-05 06:09] dar143 opened #75 "unable to read all of wrapped column"
Hi I'm reading in a pdf table using extract_tables. It does a nice job but only reads in the first line of text that is wrapped in a column of a table.

Is there a way to read the characters underneath the first line?
Regards
Ross

[2018-02-13 11:12] suk-g commented on #72
Hello,
I am not able to install tabulizer package in my system.Please help

 sessionInfo()
R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C

[2018-02-15 17:01] suk-g opened #76 "Installation Problem -tabulizer package"
Hello,
I am not able to install tabulizer package in my system.Please help

sessionInfo()
R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252 LC_CTYPE=English_United States.1252 LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C LC_TIME=English_United St

[2018-02-23 17:06] marek1914 opened #77 "unknown certificate check failure"
The system ( Cran 3.4.2 as well as 3.4.3 64bit WIN7) worked fine with tabulizer, untill now
I got following error " unknown certificate check failure"

I have that problem on two independent stations

[2018-02-23 17:11] leeper commented on #77
Try using `devtools::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"))`

[2018-02-26 19:38] epancotti opened #78 "Installation Issue"
I'm having a couple of issues installing tabulizer/tabulizerjars. I think this stems from an rJava issue (unable to load shared object). I read through a few threads and was finally able to get rJava to install and load correctly, but apparently it's preventing devtools::install_github("ropensci/tabulizerjars") from running correctly. I also tried using > ghit::install_github("ropensci/tabulizerja

[2018-03-06 14:01] leeper commented on #14
@plashgarlou99 Can you open a new issue and provide further details?

[2018-03-06 14:06] plashgarlou99 commented on #14
Thanks for the quick reply. YES, sorry for not giving you more detail. I will do this later on once I am back home and can copy and paste the exact error messages.

[2018-03-07 00:01] plashgarlou99 opened #79 "Can't get rJava for tabulizer"
Please specify whether your issue is about: I had wrote earlier about my issue and you advice me to create a new issue. Basically trying to get tabulizer on R or Rstudio and followed your post on this but I am having issues with getting rJava. I have installed Java on my Windows 10, version 8 update 161.
When I go into Rstudio, I can download rJava, but then I get an error when I run library.rJava

[2018-03-07 00:55] #79 closed

[2018-03-07 00:55] plashgarlou99 commented on #79
thanks for your help nonetheless, I ran

+     Sys.setenv(JAVA_HOME="")

and it worked! I don't know anymore, but thank you

[2018-03-20 10:53] rajmph13 opened #80 "installation of tabulizer"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

If you are reporting (1) a bug or (2) a question about code, please supply:

 - ensure that you can install and successfully load [**rJava**](https://cran.r-project.org/package=rJava)
 - [a ful

[2018-03-20 10:54] #80 closed

[2018-03-30 20:13] tpaskhalis opened #81 "French test returns error due to broken link"
It seems that the website [http://journal-sfds.fr/index.php/J-SFdS/article/download/514/486](http://journal-sfds.fr/index.php/J-SFdS/article/download/514/486) from [test_non-latin.R](https://github.com/ropensci/tabulizer/blob/master/tests/testthat/test_non-latin.R#L14) is not live any more. This results in unit-test error.

The journal seems to have move and the correct one should be: [http://publ

[2018-03-30 21:12] tpaskhalis commented on #48
Thank you for a great package! I did some work on migration to PDFBox 2.0. The changes are [here](https://github.com/tpaskhalis/tabulizer/commit/d848d40aab7a0d5e4cd1bd94dd6be5b86f074972). I have some trouble with setting resolution in [make_thumbnail.R](https://github.com/tpaskhalis/tabulizer/blob/pdfbox2.0/R/make_thumbnails.R#L53-L54) through [renderImageWithDPI](https://pdfbox.apache.org/docs/2.

[2018-03-31 09:19] leeper commented on #48
Hey that's great! Is that using the latest tabulizerjars?

[2018-03-31 13:56] tpaskhalis commented on #48
Yes, it's based on `tabula 1.0.1` from the branch of tabulizerjars.

[2018-04-04 01:43] tpaskhalis commented on #48
I did further work on the migration and feature development. The problem with resolution in thumbnails has been fixed. Added some new functionality, such as extracting text by area and separated out coordinates conversion: [pdfbox2.0](https://github.com/tpaskhalis/tabulizer/commits/pdfbox2.0). My next goal is implementing `stream` option from #65

[2018-04-05 23:00] tpaskhalis commented on #65
The `stream` option in Tabula is essentially equivalent to `spreadsheet = FALSE` in tabulizer. While `lattice` would be `spreadsheet = TRUE`. I restructured the code to be consistent with Tabula nomenclature. It's available on the development branch: [tabulizer/pdfbox2.0](https://github.com/tpaskhalis/tabulizer/tree/pdfbox2.0), which works together with the development branch of [tabulizerjars/tab

[2018-04-06 14:32] leeper commented on #65
@maelle I apparently don't have the ability to add contributors to this repo. Can you add @tpaskhalis, giving him edit/push rights here and on [tabulizerjars](https://github.com/ropensci/tabulizerjars)?

[2018-04-06 16:17] maelle commented on #65
Ok so I

* Created a team and invited @tpaskhalis to it. The team has write access to this repo.

* Made you an admin @leeper

Should the team also get write access to tabulizerjars?

[2018-04-06 16:19] maelle commented on #65
Oops I should have read better am gonna add the second repo for the team sorry

[2018-04-06 16:44] tpaskhalis commented on #65
Many thanks, @maelle!

[2018-04-06 17:43] maelle commented on #65
Thank *you*!

[2018-04-09 20:33] #81 closed

[2018-04-09 20:37] tpaskhalis commented on #48
I think #83 resolves this. So, maybe we could close it and then open separate issues for individual problems if they emerge.

[2018-04-09 20:38] leeper commented on #48
Great. I'm happy to have you close this then.

[2018-04-09 20:38] tpaskhalis commented on #48
Ok, great! I'm closing it.

[2018-04-09 20:38] #48 closed

[2018-04-09 20:45] tpaskhalis commented on #65
The options are now available on the `master` branch  (#83). Please, update and reinstall the package. Check `?extract_tables` for further details.

[2018-04-09 20:45] #65 closed

[2018-04-09 23:16] tpaskhalis commented on #74
It might be platform-specific. I couldn't replicate the problem on Linux. All German characters were rendered correctly. There was also an upgrade in the underlying libraries, namely, PDFBox and Tabula, so that might have resolved the issue. If you could report on whether the problem persists on the newer version, it would great.

[2018-04-09 23:41] tpaskhalis commented on #76
Seems like the installation of `testthat` package fails. Could you try installing it first by running `install.packages("testthat")`?

[2018-04-09 23:46] tpaskhalis commented on #72
Hard to say without more details. @helal06, could you provide the output of `sessionInfo()` and specific error message that you get?

[2018-04-11 00:41] tpaskhalis commented on #71
Apologies, as this might be rather late. But try running `R CMD javareconf` from the command line prior to installing `rJava`. Or, if it's already installed, remove it, do javareconf and then install it again.

[2018-04-11 00:44] tpaskhalis commented on #78
This looks analogous to #71. Try running `R CMD javareconf` prior to the installation of `rJava`.

[2018-04-11 00:44] #78 closed

[2018-04-11 18:58] tpaskhalis commented on #10
My understanding of the structure of PDF files is that there is no way one could guarantee the correct encoding of text extracted from PDF in anything other than Unicode. Not only encodings can be defined for each individual text block within a single PDF file, it can even contain embedded fonts. Can we just do `Encoding(out) <- "UTF-8"` and remove the argument?

[2018-04-11 19:54] tpaskhalis opened #85 "Allow text extraction via extract_areas"
With the addition of area argument in `extract_text` in https://github.com/ropensci/tabulizer/commit/7ba120a66ff9e4a0cc06b84f860bdd52bbbe3ecd it would be good to allow the location of text and its extraction in one line.

So, instead of
[code]
It would be just:
[code]
With the default being:
[code]
The only caveat is argument `guess`, which does not exist in `extract_text`, but is conveniently `Fa

[2018-04-11 23:52] leeper commented on #10
I don't think I understand PDF well enough to know whether that makes any sense.

[2018-04-30 03:00] Munir-shah opened #86 "Possible Bug: converting paranthesis "(" into minus sign"
I am trying to extract table from a PDF file using tabulizer. it is running fine and does extract tables.
However, my table has parenthesis around numbers in a table, for example, (20,076)  and tabulizer is interpreting "(" as minus sign and extracted table has -20,076 ( a negative number.
Can any body help me why is it doing this and what could be a solution to address this problem.

Code here:
l

[2018-05-01 22:40] lifeskipper commented on #64
Did you find a solution? I have the same error. And seems like some pages in the pdf file causing this. Do you know which pages in the example you give having the error?

[2018-05-11 07:20] ahsan-iftikhar opened #87 "Installation problem for "tabulizer" on 64 bits machine despite trying all solutions."
My issue issue is installing tabulizer package in R. I have tried all the solutions suggested on Github and Stackoverflow, however, somehow I am not able to install the package.

 - I can install and successfully load [**rJava**](https://cran.r-project.org/package=rJava)
 - There is no trace back available after the function traceback()`
 - Output of `sessionInfo()` is stated below.

Code is state

[2018-05-11 15:21] tpaskhalis commented on #86
That's strange. It's unlikely to be a `tabulizer` issue, the problem probably lies somewhere upstream. Either [Tabula](https://github.com/tabulapdf/tabula-java/) or even the pdf file itself. What happens if you copy-paste these figures in some pdf viewer? Could you provide an example pdf file?

[2018-05-14 05:58] maelle opened #88 "Appveyor builds and webhook"
:wave: @leeper!

* The Appveyor builds are under your account, https://ci.appveyor.com/project/leeper/tabulizer. We're currently thinking whether to transfer all Appveyor builds to rOpenSci accounts, but are not going to at the moment, because it seems to have drawbacks, so it's actually fine(/better?) to have them under your account. Could you please update the badge in the README in the meantime

[2018-05-14 07:42] leeper commented on #88
Hi @maelle - okay. We're actually in the midst of a maintainership transition. @tpaskhalis is going to be taking over, so maybe it makes sense to do some reconfiguration at this point?

[2018-05-14 07:46] maelle commented on #88
Ah then I guess you should make @tpaskhalis admin of this repo, this way he can add Appveyor buils to his account?

@jeroen recommends such badges (pointing to ropensci GitHub repo, but builds under the maintainer's account)

[code]

[2018-05-14 11:19] Alexandros11 opened #89 "Can`t install tabulizer on win 8.1 64-bit"
I got couple errors when trying to install tabulizer package. First i install rJava as suggested:

Weird thing is that rJava wants always to update some packages and restarting my R session when I install it (I work in Rstudio). But it seems to work correctly. I use this code to install tabulizer:

and this is my output:

I am familiar with R but unfortunately lacking any IT/programming background

[2018-05-14 11:58] tpaskhalis commented on #88
I don't have access to Appveyor builds now, so would be happy to change badge to @leeper's account to fix the immediate issue as suggested. But would be useful to have admin rights to Appveyor for the future.

[2018-05-14 12:00] maelle commented on #88
@tpaskhalis I mean that if you get admin rights to this repo, you can activate Appveyor builds under your Appveyor account and change the badge accordingly so that it points to them :-) (if you don't have an Appveyor account yet it takes very little time to create one, if I remember correctly you can log in with your GitHub account)

[2018-05-14 12:03] tpaskhalis commented on #88
@maelle, sure, that might be easier. I have an Appveyor account. Would just need admin rights for this repo.

[2018-05-14 12:08] maelle commented on #88
Granted! 😉

[2018-05-14 12:09] tpaskhalis commented on #88
Thank you!

[2018-05-14 14:20] tpaskhalis commented on #88
Fixed with https://github.com/ropensci/tabulizer/commit/6681dae4aee7c9e52f88de16245bcb6287a52a64.

[2018-05-14 14:29] tpaskhalis commented on #88
My bad  :grimacing:. But then `tesseract`'s build looks so much better :wink:.

[2018-05-14 14:33] #88 closed

[2018-05-14 15:38] tpaskhalis commented on #89
Your problem starts earlier, with the installation of `tabulizerjars` package. Which Java version are you using? Make sure that it's not lower than 7. To check this run `java --version` in Windows command line. Try installing `tabulizerjars` with `remotes` instead of `ghit` by running `remotes::install_github(c("ropensci/tabulizerjars"))`.

[2018-05-14 15:41] tpaskhalis commented on #87
What is the Java version you're using? The current version of Tabula requires Java no lower than 7.

[2018-05-14 15:47] tpaskhalis commented on #69
`tabulizer` has recently been updated to use the latest version of `Tabula` (1.0.1), so the issue should be resolved. Please, let me know if there are still any problems.

[2018-05-14 15:47] #69 closed

[2018-05-14 16:03] Alexandros11 commented on #89
This in unfortunate, when i type `java --version` it prints me:

I bet there is silly issue but I can not figure out what it is :(
Installing `tabulizerjars` produces new set of errors...

[2018-05-14 16:14] tpaskhalis commented on #89
There is something wrong with your Java installation. I don't think I can diagnose what the problem is. But this needs to be sorted out first, before the installation of `tabulizerjars`. The easiest way would be to re-install the JDK. Also, make sure that the installation of Java is [in your PATH](https://stackoverflow.com/questions/1672281/environment-variables-for-java-installation). After `java

[2018-05-14 18:39] Alexandros11 commented on #89
I followed your instructions. Funny thing is when I use `java --version` It produces the same error but when I do `java -version` (only one "-") it prints out:

Errors when I try install `tabulizerjars` usin g`remotes::install_github(c("ropensci/tabulizerjars"))`:

Have I made mistake in setting classpath?

[2018-05-14 20:10] tpaskhalis commented on #89
Sorry, yes, it should be with one: `-version`. Does the architecture of your R installation match the Java installation? I.e. are they both 64-bit? What's the output of `sessionInfo()` in R? See [here](https://www.r-statistics.com/2012/08/how-to-load-the-rjava-package-after-the-error-java_home-cannot-be-determined-from-the-registry/).

[2018-05-15 08:44] Alexandros11 commented on #89
I believe architecture match. I use 64-bit system and I downloaded 64 Java version as well. I set `JAVA_HOME` as in link you posted and wile installing `tabulizerjars` I get this again:

And now my `sessionInfo()` is:

How to make sure I installed 64-bit java?

[2018-05-15 08:52] tpaskhalis commented on #89
Ok, there is some progress here. This error is different from the previous
one. Java architecture can be determined by running `java -version`, but I
believe it's also 64-bit given the output you posted. Have you re-installed
`rJava` after all these manipulations?

On Tue, 15 May 2018, 09:44 Alexandros11, <notifications@github.com> wrote:

[2018-05-15 09:28] Alexandros11 commented on #89
Ok maybe issue is actually with `rJava` package because it behaves kind of weird. First of all when I try to reinstall it it pops up this messege:

https://imgur.com/mEdRH4a

And Rstudio prints out this:

I tired to uninstall `rJava` manually using `remove.packages("rJava")` but then I got:

So I guess `rJava` package path is missing here. But how to get it? When I tried `remove.packages("rJava","

[2018-05-15 11:04] tpaskhalis commented on #89
It seems that your `rJava` installation is in a different folder. What does your `.libPaths()` say? It defaults to `"C:/Program Files/R/R-3.4.3/library"` on your system, but the package isn't there. You might want to try to remove it from other directories to which it might have been installed.

[2018-05-15 16:36] Alexandros11 commented on #89
When I use `.libPaths()`  and it returned:

Is it normal I have two different library paths? Or something is messed up with my R/Rstudio?

[2018-05-15 18:09] tpaskhalis commented on #89
Yes, the second would typically be used when you launch R/RStudio with Administrator privileges. Try running it as Administrator, purge previous installations of `rJava` from both directories and then re-install `rJava` and `tabulizerjars`.

[2018-05-15 18:12] Alexandros11 commented on #89
Ok, am I suppose to use `remove.packages("rJava", "path)` or (or if this wont work) remove it all manually by deleting folders?

[2018-05-15 18:12] #74 closed

[2018-05-15 18:15] tpaskhalis commented on #89
Yes, try running `remove.packages("rJava","C:/Users/Me/Documents/R/win-library/3.4")` and `remove.packages("rJava","C:/Program Files/R/R-3.4.3/library")` under Admin.

[2018-05-15 19:47] Alexandros11 commented on #89
This is mine `Sys.getenv()` :

I set my windows PATH accordingly to random youtube tutorial. I will get back to this and do it again step by step, maybe I made mistake somewhere there.

[2018-05-16 08:18] ahsaniftikharqureshi commented on #87
I am using Java Version 10.0.0.1.

[2018-05-16 11:13] tpaskhalis commented on #89
I'm running out of things to try. I got a hold of Windows 8.1 64-bit machine and couldn't replicate any of the issues. The only differences were that I used `R 3.5.0` and `JDK 1.7.0_80`, but I don't think it could be a source of problems. Sounds extreme, but I would try re-installing everything, starting from Java, then R (there is a newer version anyway), then rJava. After installing rJava, try r

[2018-05-16 12:58] tpaskhalis commented on #87
`tabulizerjars` is now available on CRAN. Could you try installing this package separately first with the usual `install.packages("tabulizerjars")` and check whether there are problems with this part?

[2018-05-16 13:12] Alexandros11 commented on #89
when i try to install `tabulizerjars` on new R version (and after reinstalling Java and Java Dev Kit) i got this:

Is this normal? Should I just wait for `tabulizerjars` update for 3.5?

[2018-05-16 13:15] tpaskhalis commented on #89
It's misspelled, `r` is missing.

[2018-05-16 15:10] tpaskhalis commented on #89
In my case I didn't even have to set JAVA_HOME, as Java was in PATH already. But I did try doing it just to make it more similar to your setup and it worked in both cases. Now, given the error you posted, does `rJava` work just by itself? Did you try loading it after installation with `library("rJava")`?

[2018-05-16 19:06] Alexandros11 commented on #89
I removed everything from my computer related to R (except Rstudio) now when I try install `tabulizerjars` same error occurs but before that pop up windows show now that i am lacking jvm.dll... It does not matter whether `rJava` is active. And if it is, after error it unchecks in Rstudio package list. Just to fulfill or formalities here is error, however I believe it is same as previous ones (or v

[2018-05-16 19:18] tpaskhalis commented on #89
What do you mean by `rJava` being active? Just to confirm whether the problem is on `tabulizerjars` or `rJava` side. Does the following work?
[code]

[2018-05-16 19:36] Alexandros11 commented on #89
By "being active" its checkbox in Rstudio package list is selected. Your code do this:;

[2018-05-16 20:05] tpaskhalis commented on #89
Thank you for trying. Looking at the code you posted above, I can venture one more guess. `ERROR: loading failed for 'i386'` after you set the correct JAVA_HOME means that it still tries to use x86 architecture. Which is strange, given that you have 64-bit version. When installing R do you tick the boxes for both x86 and x64 by any chance?

[2018-05-17 08:25] Alexandros11 commented on #89
THATS IT! I mean partially it. During my R installation I didnt have option to select x86, but I had option to install both R version: 32bit and 64bit which I always did automatically. And this was the reason! Now i selected only 64bit and `tabulizerjars` as well as `tabulizer` were installed correctly.

Thank you very much tpaskhalis for all your support and solving my issue (you can mark is as s

[2018-05-17 08:43] tpaskhalis commented on #89
Thank you for perseverance! Yes, I have writing comprehensive installation instructions on my plan. It's interesting to note that the parallel install of 32-bit and 64-bit R didn't seem to cause any problems for `xslx` as you said. Maybe there is something that could be done on the package side, I'll need to look into that.

[2018-05-17 08:43] #89 closed

[2018-06-12 12:15] oldi commented on #7
It has to be `output = "data.frame"`  - not method.

[2018-06-13 13:52] tpaskhalis opened #91 "Add function for printing out"
As it was pointed out recently, the tables cannot be correctly extracted from PDF files where these tables contain values that are input through editable fields. The solution that seems to work is to make all values part of the text layer through "Print as PDF" functionality in a file viewer. While it's possible to automate the process with `cups-pdf` and a bash script that would iterate over file

[2018-06-18 22:11] technocrat opened #92 "Installation OSx High Sierra related to jdk version 10 vs. 9"
Both tabulizer and rJava throw the same error:

     Error: package or namespace load failed for ‘tabulizer’:
      .onLoad failed in loadNamespace() for 'tabulizerjars', details:
       call: NULL
       error: .onLoad failed in loadNamespace() for 'rJava', details:
       call: dyn.load(file, DLLpath = DLLpath, ...)
       error: unable to load shared object '/Users/rc/Library/R/3.5/library/rJav

[2018-06-18 22:46] sckott opened #93 "git tags and release notes"
we're trying to get all ropensci pkgs to use git tags and release notes, as it's common software practice.

In our packaging guide we have some notes on this https://github.com/ropensci/onboarding/blob/master/packaging_guide.md#-news

We'd like each repo to have a git tag associated with each cran release and then the news items for that cran release on the releases tab of your repo. After you do

[2018-06-19 03:33] weiyangtham opened #94 "Installation issue: "no suitable image found""
Hi, I'm having issues loading `tabulizer`. I've tried updating Java but it didn't seem to help. Loading `rJava` or `tabulizerjars` separately yields similar error messages as below.

[code]

[2018-06-25 16:48] tpaskhalis commented on #92
That is an `rJava` issue, not `tabulizer`. Have you tried running `R CMD javareconf` after installing the new version?

[2018-06-25 17:12] technocrat commented on #92
I'll confess to near-zero experience with CMD and its cousins like devtools::RCMD, and I'm missing arguments. Maybe it's my repugnance to Java (from using it in a very early version), but I'm going to have to wait until a more urgent need arises. But it does seem that if rJava has jdk hardwired, I'd have to downversion to have any chance to get things working. Thanks for the suggestion, though.

[2018-06-25 17:23] tpaskhalis commented on #92
Usually there is no need to downgrade.
A typical upgrade work flow would be: Upgrade Java -> Run `R CMD javareconf` -> Upgrade rJava

[2018-06-25 17:23] #92 closed

[2018-06-29 14:24] tpaskhalis commented on #93
@sckott thank you for the suggestion! I back-tagged the first two CRAN releases. Will do that from now on for the future releases.

[2018-06-29 16:47] weiyangtham commented on #94
This seems to have fixed the issue. Something like

[code]

[Source](https://support.rstudio.com/hc/en-us/community/posts/203663956-rJava-load-OK-in-R-not-in-R-Studio-Library-not-loaded-rpath-libjvm-dylib-OS-X-10-10-R-3-1-2-R-Studio-0-98-932
)

[2018-06-29 16:47] #94 closed

[2018-07-17 14:13] steffen-stell opened #95 "[Enhancement] fixed height rows, graphical interface for picking columns"
In providing the 'columns' argument tabulizer can yield much better results for liberating pdf-data than the GUI that comes with Tabula. Still, there is room for improvement here. Firstly, it would be more convenient if there was a GUI for picking the coordinates seperating the columns.
Secondly and more importantly, it would be great if there was a way of specifying rowsin addition to columns. Of

[2018-07-25 15:43] mmva1979 commented on #75
I have the same problem. In the previous version I could read the data from the all columns correct , now it reads the first line.

[2018-08-13 16:34] cderv opened #96 "Doc improvement : ... in extract.tables are for output not method ?"
Hi,

This is documentation change about `extract_tables`. Trying to understand how to `extract.tables` with `output = "data.frame` and have no header imported in the resulting tables (see [this question on community.rstudio.com](https://community.rstudio.com/t/modifying-column-names-in-a-list-of-data-frames/12325/7?u=cderv), I saw that `...` argument can be used to pass extra argument to output fu

[2018-08-28 14:27] rafaleo commented on #87
I have the same issue, probably due to 64bit system.
[code]

[2018-09-10 14:33] JakeRuss commented on #39
Just commenting to say I'm experiencing the same behavior.

I have a 200 page pdf filled with mostly tables that I want to convert to R data frames. But even after increasing the heap space to 16GB, I run into a memory issue after only 7-8 pages. [pdf](https://www.calpers.ca.gov/docs/forms-publications/annual-investment-report-2017.pdf)

Once the tables are imported to R, I don't need any of java

[2018-10-04 11:03] amrrs commented on #94
@weiyangtham  This fixed for me too! Thanks for sharing!

[2018-10-04 12:42] amrrs opened #97 "java.lang.NullPointerException"
Please specify whether your issue is about:

 - [x] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

Put your code here:

[code]

[2018-10-17 18:37] ChetanArvindPatil commented on #97
@amrrs:

If your PDF file has many other contents than tables only, I would suggest you to do split PDF such that the pages only have tables and then try extracting tables.

Hopefully, it should work.

[2018-10-17 18:40] ChetanArvindPatil commented on #61
@leeper @zx8754

Something similar happening with me. I can read the tables in the PDF file but only header values are read and not the table contents.

Any suggestion on how to solve this?

[2018-10-31 17:46] paulgronke opened #98 "Strange Behavior Page 3 Of This PDF"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [x] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

Processing a 3 page PDF, a public document that reports daily ballot returns. Identified the areas to process, pages 1-2 work fine, but very strange behavior on page 3. In columns 15-16, inform

[2018-12-21 15:42] simonthelwall opened #99 "Feature request: allow for non-repeating headers in multi-page tables"
Some tables spread across multiple pages, but the header of the table only appears on the first page.
This means that `extract_tables(file, pages, output = "data.frame")` returns dataframes the names of the data frame contain data rather than the true names.

It would be great if `extract_tables` had an option `repeating_header =  FALSE` so that each returned dataframe had the same column names.

[2018-12-31 13:28] ekesawi opened #100 "Error in .jcall("RJavaTools", "Ljava/lang/Object;", "newInstance", .jfindClass(class)"

[2019-01-01 03:08] ekesawi commented on #13
I have the same issue when i attempted to extract tables using locate_areas.. It seems to work nicely for a 1 or 2 tables from small pdf files, it got the same error for anything else. When i used the option guess with extract_tables, some tables were not extracted and in some cases, it missed some entries on other tables.

R version 3.5.2 (2018-12-20)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Run

[2019-01-01 03:30] ekesawi commented on #69
I am still having a problem with the same error when using locate_areas to extract tables. It works for 1 or 2 tables from a small pdf files, but does't work for others. I uploaded the latest tabulizer version. I tested the code on the articles (files) below where i wanted to extract several tables from each article

https://pdfs.semanticscholar.org/50a4/2b8146f08161b1036457fe0d241b6b898974.pdf
ht

[2019-01-01 03:32] #100 closed

[2019-01-13 17:37] ekesawi opened #101 "Error extracting tables interactively from multiple files"
a question about package functionality
 Code

install.packages("rJava");library(rJava)
install.packages("tabulizer");library(tabulizer)
install.packages("miniUI"); library(miniUI)
MyPath <- "C:/Users/name/Documents/Temp/"
FileNames <- dir(MyPath, pattern =".(pdf|PDF)",full.names = TRUE)
MyArea <- lapply(FileNames, function (x) locate_areas(x))
NPages <- unlist(lapply(MyArea, function(y) which(!sap

[2019-02-04 10:06] Psr18delhi opened #102 "Non able to read the all pages for pdf file"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

If you are reporting (1) a bug or (2) a question about code, please supply:

 - ensure that you can install and successfully load [**rJava**](https://cran.r-project.org/package=rJava)
 - [a ful

[2019-02-04 10:11] Psr18delhi commented on #102
i am working on the following pdf file:
https://www.idtheftcenter.org/wp-content/uploads/2019/02/ITRC_2018-End-of-Year-Aftermath_FINALWEB-V2-2.pdf

using extract_table in r. i am able to read all pages from this function it's skipping the pages.

i am able to get 80 result pages as function output.

[2019-02-06 06:13] ksw9 opened #103 "Row with multiple lines"
Hi,
This is a question about **package functionality**.
I was wondering if there are recommendations for how to extract tables in which rows span multiple lines as in the tabula example here [https://github.com/tabulapdf/tabula-extractor/issues/23]? My own data are somewhat simper in that there are no subheaders, but the same issue arrises - rows spanning multiple lines. Thank you for a great pack

[2019-02-27 15:27] alexweissuk opened #104 "Minus signs not appearing in extracted table"
Please specify whether your issue is about:

 - [X] a possible bug
 - [ ] a question about package functionality
 - [X] a suggested code or documentation change, improvement to the code, or feature request

The problem concerns tables found in some journal articles, such as page 5 from [this paper](https://github.com/ropensci/tabulizer/files/2910926/schaefer.steklis.am.j.primatol.2014.pdf).

extra

[2019-03-26 16:10] lnalborczyk commented on #78
None of these solutions work on my machine...(macOS Mojave 10.14, R version 3.5.3). Loading the package with library gives the following error:

internal error -3 in R_decompress1Error: package or namespace load failed for ‘tabulizerjars’ in runHook(".onLoad", env, package.lib, package):
lazy-load database '/Library/Frameworks/R.framework/Versions/3.5/Resources/library/tabulizerjars/R/tabulizerjar

[2019-04-10 20:45] mjfrigaard opened #105 "Issue with installing package on Java 12"
Tabulizer error (Github Issue)
================

## PDF data

To get set up:

1.  Install this version of Java:
    <https://support.apple.com/kb/DL1572?locale=en_US>

2.  Configure R and Java with `javareconf` in Terminal

[code]

Enter password, then you should see
this:

[code]

## Load the packages for dealing with pdf data

These packages load fine.

[code]

## Warning at Java installation

T

[2019-05-03 03:31] erivandoramos commented on #61
This doc. PDF https://www.qc.cuny.edu/About/Research/Documents/Fact_Book_2014-2015_Final.pdf

Any solution?
my problem is don't extract an table on page 86 while the others pages extract_tables it works normally

[2019-05-05 06:47] ManOnWire commented on #14
Hi Leeper,

Tabulizer sounds like a very useful package, but getting it working in RStudio on my Mac proved to be impossible so far. I simply haven't been able to install rJava properly — even after trying practically all the 'solutions' offered on StackOverflow and elsewhere on the internet.

After a while I thought, let's see if I can avoid this issue, and I searched Docker Hub for an image wher

[2019-05-07 00:25] billdenney commented on #105
There are some general issues with rJava and Java 12 (s-u/rJava#175).  While I've not tested your error, my guess is that this is related.  You have to not only install Java 11, but also uninstall Java 12.

[2019-05-07 00:51] billdenney opened #106 "Warning For Reflective Access"
When working with the current version of R and rJava, there is a warning with `extract_table()` indicating:

[code]

Unfortunately, I cannot share the underlying .pdf file that caused the error.

[2019-05-12 12:30] pestoisaac commented on #105
I am unable to find instructions to uninstall Java 12 here https://docs.oracle.com/en/java/javase/12/index.html. Do you know of any resource I could use?  I am working on the MacOS.

[2019-05-23 16:10] T-Engel opened #107 "Is there a locate_columns() function?"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

Thanks for this great package. It works well for me.
I would like to use the `columns` argument in `extract_tables()` but I don't really know how to find the coordinates separating my columns.

[2019-06-19 20:56] fpinter commented on #106
I reproduced using the first code example from the readme.
[code]
(Mac 10.13, tabulizer 0.2.2, rJava 0.9-11, R 3.6.0, Java 11.0.1)

[2019-06-19 22:55] fpinter commented on #105
Although these instructions for uninstalling JDK were written for JDK 8, they also work on JDK 12: [Uninstalling the JDK](https://docs.oracle.com/javase/8/docs/technotes/guides/install/mac_jdk.html#A1096903)

For reference, see also [Uninstalling Java](https://www.java.com/en/download/help/mac_uninstall_java.xml).

[2019-07-02 18:40] yiqinfu commented on #71
If you into a `'stdio.h' file not found` when running `R CMD javareconf`, follow the instructions [here](https://github.com/frida/frida/issues/338#issuecomment-424595668) (install the package) and then re-run `R CMD javareconf`. Then restart your R session.

[2019-07-07 23:56] zhuchcn commented on #105
Try this line before loading the package. This is not permanent, so you have to run this every time you restart your R session. But it works.

[code]

[2019-07-26 10:58] bedantaguru commented on #106
Getting the same in Linux too

[2019-08-08 00:27] AnishaB95 commented on #87
Hi, did you ever figure this out?
I am having issues installing/loading the tabulizer and tabulizerjar packages as well.

[2019-09-17 02:53] ambijat opened #109 "library(rJava), library(tabulizerjars) successfully loads but not library(tablulizer)"
Please specify whether your issue is about:

 - [* ] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

If you are reporting (1) a bug or (2) a question about code, please supply:

 - ensure that you can install and successfully load [**rJava**](https://cran.r-project.org/package=rJava)
 - [a fu

[2019-09-17 12:08] premadh opened #110 "Parameters to specify number of columns and also each column's area"
This is a suggested code or documentation change, improvement to the code, or feature request

The package is great works in most conditions (many thanks for this) but also makes lazy that I don't want to wrangle misread pdf pages. Hence, I'd like to request below.

Provide a parameter/method to specify the number of columns; start and end co-ordinates of each column so that table is extracted pro

[2019-09-20 15:40] ziembaej commented on #106
Just got the same warning. Using R version 3.6.0 (2019-04-26) on Mac OS 10.14.6

Has this caused any actual problems for others?

[2019-09-20 15:56] bedantaguru commented on #106
In Travis it causes build failure.

[2019-09-30 13:21] RobertKlemmensen commented on #87
I am also having the exact same problem . Are any fixes?

[2019-10-01 10:19] JoeFernando commented on #13
@leeper - Had the same problem. Installed using `remotes::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"))` and everything worked fine.

Hope the others also had similar success.

[2019-10-16 09:43] antonio1970 commented on #106
Anyone was able to solve it, I got the same error

[2019-10-31 17:32] dsobo opened #111 "extract_tables does not extract properly when there are highlighted cells"
Please specify whether your issue is about:

If I try to run extract_tables on a PDF that has a table with highlighted cells then only the highlighted cells will end up in the final table. I am not quite sure how to do a reproducible example (i tried based on the how to) but I attached the PDF that does not work with extract_tables().

When I run extract_text on this same PDF all cell values end u

[2019-11-20 06:15] Psr18delhi opened #112 "Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl, : java.lang.NullPointerException"
i getting error on the extracting table from the below mentioned file
[CrowdStrike_GTR_2019.pdf](https://github.com/ropensci/tabulizer/files/3867574/CrowdStrike_GTR_2019.pdf)

it run upto page 10 or 11 then it through the error:
Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.lang.NullPointerException

Please let me know the best possible, resolution for this issu

[2019-12-03 13:27] vgopinath commented on #87
https://stackoverflow.com/questions/44346656/error-in-installing-tabulizer

[2019-12-19 13:08] pm321 commented on #99
I agree, the default behaviour of extract_tables in assuming that the first row comprises headings leads to unsatisfactory results. I often need to extract tables from pdf format where there are no headings; furthermore I would like to be able to set my own headings; so a function along the lines of col_names = c("var_1", "var_2", "var_n" ) which allows the addition of user defined column headings

[2019-12-19 13:12] pm321 commented on #110
I would also support this improvement using the 'columns' argument in extract_tables does not always work well where some columns are populated with blank values for the initial rows.
One approach would be to use the area function but applied to each column on a pdf page.
Hope this enhancement can be incorporated to what is a really useful and effective package.

[2020-01-01 20:01] billdenney opened #114 "Different Extraction Format for Apparently Identical Tables"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [X] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

I believe that this is an issue with the underlying java library, but since I'm using tabulizer, I'm posting here and will link there.

I have a file with two tables that look generally identic

[2020-01-24 17:05] sikaiser opened #115 "File is locked after using tabulizer on it"
Please specify whether your issue is about:

 - [x] a possible bug
 - [ ] a question about package functionality
 - [x] a suggested code or documentation change, improvement to the code, or feature request

- Example below is using `extract_tables()`, however the same happens with `locate_areas()` (which does not call `extract_tables()` afaik).
- Does anyone have a suggestion how the file can be u

[2020-01-25 12:24] sikaiser commented on #115
Update: using `copy = TRUE` fixes it for `extract_tables`, but not for `extract_areas`

[2020-01-25 13:28] sikaiser commented on #115
I think a way to fix this would be to pass on the value of `copy` to `extract_tables` in the function definition of `extract_areas` (in `locate_area.R`).

[code]

I'm happy to make a pull request for this. But I haven't been able to test it, and am not sure if this is indeed a bug or intended behavior?

[2020-02-12 12:43] markusdumke commented on #104
Same issue [here](https://academic.oup.com/ajcn/article/91/3/635/4597164), when clicking on the pdf button and extracting TABLE 2 on page 637 (page number in the top right).

This is really **dangerous** because the dash (i.e. the "minus sign") is just converted to a "2", which you don't notice so easily unless you check every column of the table afterwards.

Did you find a solution/workaround?

[2020-02-12 13:17] a417886 opened #116 "win7 install succesfully but error library("tabulizer")"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

If you are reporting (1) a bug or (2) a question about code, please supply:

 - ensure that you can install and successfully load [**rJava**](https://cran.r-project.org/package=rJava)
 - [a ful

[2020-02-13 12:13] alexweissuk commented on #104
Hi there,

I haven't found a solution. I needed to use tabulizer just once, so I didn't try.

I just thought it was serious enough to flag.

Best,

Alex

________________________________________
From: Markus Dumke <notifications@github.com>
Sent: 12 February 2020 21:43:34
To: ropensci/tabulizer
Cc: WEISS ALEXANDER; Author
Subject: Re: [ropensci/tabulizer] Minus signs not appearing in extracted tab

[2020-03-19 19:50] gorkang commented on #64
I have the same problem with this file:
[452216668-Datos-18-03-20.pdf](https://github.com/ropensci/tabulizer/files/4356624/452216668-Datos-18-03-20.pdf)

Interestingly, the other files from the same [website](http://ddhh.minjusticia.gob.cl/informacion-sobre-la-situacion-del-pais-desde-el-19-de-octubre) give no issues.

[2020-03-24 05:14] MattCowgill commented on #106
Same here

[2020-03-25 11:01] gorkang commented on #64
NEW FILE (errors): [453061401-Datos-23-03-20.pdf](https://github.com/ropensci/tabulizer/files/4380393/453061401-Datos-23-03-20.pdf)

OLD FILE (works): [451150373-Datos-10-03-20.pdf](https://github.com/ropensci/tabulizer/files/4380394/451150373-Datos-10-03-20.pdf)

The issue only appears in the NEW FILE when using **lattice**:

[code]

And it seems to be located in page 4:

[code]

Everything works

[2020-03-25 15:43] dernapo commented on #106
Same issue here

R version 3.6.3 (2020-02-29)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.4 LTS

BLAS:   /usr/lib/x86_64-linux-gnu/blas/libblas.so.3.7.1
LAPACK: /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3.7.1

 [1] LC_CTYPE=de_DE.UTF-8          LC_NUMERIC=C                  LC_TIME=de_DE.UTF-8
 [4] LC_COLLATE=de_DE.UTF-8        LC_MONETARY=de_DE.UTF-8       LC_MESSAGES=d

[2020-03-28 12:18] ercrema opened #117 "Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod") when using extract_text()"
Hi,
I have a problem reading a pdf file. The document is not corrupted (e.g. `pdftools::pdf_text()` works fine, but I prefer tabulizer as I have some pages with double columns), and similar pdfs from the same repository does not produce the error. Thanks for developing the package!

Enrico

***

Please specify whether your issue is about:

 - [x] a possible bug
 - [ ] a question about package func

[2020-03-29 03:05] lefcgis commented on #106
I have the same problem. I'm wondering if this problem is about the "_quality document_". In other words, there are documents (pdf's) can use it with Tabulizer. But, others not. For example, if you download this [pdf](https://github.com/Coopmeister/data_science_r_projects/blob/master/endangered_species.pdf) you can use Tabulizer. However, if you use **[this one]**(https://www.inei.gob.pe/media/Men

[2020-03-29 03:08] lefcgis commented on #106
I have the same problem. I'm wondering if this problem is about the "quality document". In other words, there are documents (pdf's) can use it with Tabulizer. But, others not.

For example, if you download [this pdf](https://github.com/Coopmeister/data_science_r_projects/blob/master/endangered_species.pdf) you can use Tabulizer. However, if you use [this one](https://www.inei.gob.pe/media/MenuRecu

[2020-03-29 09:18] billdenney commented on #106
@lefcgis, there definitely could be some documents that trigger the issue and some that do not, but it is a Java coding issue and not an issue with a PDF file (as in, the pdf standard is being followed).  For more information, see https://stackoverflow.com/questions/50251798/what-is-an-illegal-reflective-access

[2020-03-29 10:30] lefcgis commented on #106
Vale!
So, it's possible that the reason would be Jdk and Jdr packages, because there are prewiew prerequisites to install rJava. Thanks for your answer, @billdenney 🧙‍♂️

[2020-04-12 16:46] RQuest2020 opened #118 "Reading a PDF table with Tabulizer when the cells have a value and a color code?"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [X ] a question about package functionality
 - [ X] a suggested code or documentation change, improvement to the code, or feature request

I  have a baffling question on how to extract a table from a PDF file using tabulizer.

 Here is the table. You will notice that each cell has a value but it is also color coded.
 https://anh

[2020-05-12 11:47] bedantaguru commented on #106
Now it's causing to break my build

[2020-05-22 12:22] victorhugow opened #119 "Problems when PDF tables cells have two or more rows"
Please, what could I do to solve this?
There are two rows inside one cell but there is the separator lines bellow and above the content. I've tried a lot of things but nothing really worked.

Thank you!

[2020-05-26 20:51] Stephonomon commented on #119
I'm having the same issue. My hope would be that both of those rows could be added together to make a single.

[2020-05-26 20:55] Stephonomon commented on #103
Same

[2020-06-15 15:54] clairefondrie opened #120 "Installation instructions for Windows fail"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [ ] a question about package functionality
 - [ x ] a suggested code or documentation change, improvement to the code, or feature request

On Windows 10, I installed Chocolatey and tried `choco install jdk7 -y` and it returned:
[code]

I ended up installing AdoptOpenJDK11, which works. I don't know how the documentation should b

[2020-07-01 19:30] gorkang opened #121 "Tabulizer does not read top rows when there is no line on top"
Please specify whether your issue is about:

 - [x] a possible bug
If you are reporting (1) a bug or (2) a question about code, please supply:

Please see a reprex below of the issue. In brief, tabulizer extracts 684 out of 746 rows of this document. Mostly ignores the first rows of each page (starting at page 2). Those rows don't have a line on top.

[code]

<sup>Created on 2020-07-01 by the [rep

[2020-07-01 19:42] gorkang commented on #121
For the sake of completeness (or in case it is useful to someone), my solution has been the following:

[code]

[2020-07-22 19:12] market-risk opened #122 "not able to use locate_areas or extract_areas"
Hello.

I have been struggling to try to identify the areas of my file. Any idea about what it would be about?

Please specify whether your issue is about:

 - [x] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

My error:

locate_areas(teste, pages = 1)

Listening on http://127.0.0.1:3494
War

[2020-07-22 20:35] market-risk commented on #122
it was just a matter of naming the archive.

[2020-07-22 20:35] #122 closed

[2020-07-29 14:50] everetr commented on #39
Same issue. I have a 466-page PDF (yeah...).

The [Camelot](https://camelot-py.readthedocs.io/en/master/) Python package does the job for me, but it takes a *very* long time to run. Here's how I did it using [`reticulate`](https://rstudio.github.io/reticulate/index.html):

[code]

[2020-10-14 20:20] #54 closed

[2020-10-15 16:39] gacolitti opened #124 "extract_tables crashes R on macOS with Java 14.0.2"
I can install and load rJava as well as tabulizer. But when I run extract_tables the R session crashes and I receive the following message:

![Screen Shot 2020-10-15 at 9 34 15 AM](https://user-images.githubusercontent.com/29231016/96159578-a8509200-0ec9-11eb-8d6f-8be173ece978.png)

output of sessionInfo():
[code]

Here is a reproducible example:

[code]

[2020-10-29 19:01] BarryDeCicco commented on #13
Same error for me:

R version 4.0.2 (2020-06-22) -- "Taking Off Again"
Copyright (C) 2020 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.io.IOException: Error: End-of-File, expected line

7: stop(structure(list(message = "java.io.IOException: Error: End-of-File, expected line",

[2020-11-07 04:10] catzs opened #127 "Area argument doesn't function properly"
Please specify whether your issue is about:

 - [ x] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

Expected behavior: when specifying the area, in some pdfs, it will not respect the actual boundaries given and somehow include text from other portions of the table. I believe it has something

[2020-11-16 11:10] cjyetman commented on #106
For me, this warning only occurs the *first* time the example code is run in a new R session. Subsequent runs do not show this warning. Is that the same behavior others here are seeing?

The test code I've been using is...
[code]

If so, I'm curious if #125 resolves this issue for you.

[2020-11-18 17:42] arnyeinstein commented on #117
I got the same error.

[2020-11-18 18:03] arnyeinstein opened #128 "Problem extracting tables"
Hi
I have the following problem. If I run:

[code]

I get:

`Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.lang.IllegalArgumentException: lines must be orthogonal, vertical and horizontal`

.When I extracted a page with a table and saved it as pdf it worked. The first attached file is the complete one. The second one is the one-pager
Loading the table from the o

[2020-11-26 00:49] dbampoh commented on #117
Did you ever figure this issue out?

[2020-12-10 09:09] arndtupb opened #129 "Troubleshooting: Installing tabulizer/Java on Windows needs Update"
Installing Java on Windows with Chocolatey (https://github.com/ropensci/tabulizer#installing-java-on-windows-with-chocolatey) needs to be updated from
`choco install jdk7 -y`
to
`choco install jdk8 -y`

[2021-01-21 20:11] hatdeck commented on #124
With no code changes since 2018, it doesn't appear tabulizer is being actively maintained, and it is not surprising that it is not compatible with other current software. I'd suggest using pdftools instead.

[2021-01-27 16:39] yannbaumgartner opened #130 "Question: installation fails on Linux Mint because of libpng12. Would it make sense to rebuild tabulizer with libpng16?"
I have a question concerning the installation of tabulizer on Linux. rJava is successfully installed and loaded but the installation of tabulizer then fails with the following error message.

[code]

From what I understood Linux Mint doesn't include libpng12 anymore because it is deprecated. I could of course still install it as mentioned on https://www.linuxuprising.com/2018/05/fix-libpng12-0-mis

[2021-02-15 22:47] vipulg13 opened #131 "Is there any plan to extend this package providing the embedded image extraction from pdf?"

[2021-02-28 14:58] gpilgrim2670 opened #132 "extract_text jumbles text order"
Please specify whether your issue is about:

 - [X] a possible bug
 - [ ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

Put your code here:

[code]
## session info for your system
R version 4.0.2 (2020-06-22)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Catalina 10.15.7

Matrix products: defau

[2021-03-05 19:14] maryse-2021 opened #133 "Problem loading tabulizer library"
Hi,
Thank you in advance for your help.
I have a problem getting the tabulizer library working.

I have installed successfully rJava, and Rtools.

I get this message error

Error: package or namespace load failed for ‘tabulizer’:
 .onLoad failed in loadNamespace() for 'tabulizerjars', details:
  call: .jinit()
  error: Unable to create a Java class loader.

-- --
##Here my session Info

R version

[2021-03-11 14:29] maryse-2021 opened #134 "problem loading Tabulizer library - problem with class loaders"
My issue is about package functionality
I have a question about code.

Hi Leeper.

Could you help me with the problem I have in installing tabulizer.
I correctly installed RJava library. I have rJava   0.9-13  2020-07-06 [1] CRAN (R 4.0.3).
I downloaded: jdk-11.0.10_windows-x64

I get this error message:

Erreur : package or namespace load failed for ‘tabulizer’:
 .onLoad a échoué dans loadNamespa

[2021-03-11 14:31] #133 closed

[2021-03-11 14:57] #134 closed

[2021-03-11 14:58] maryse-2021 opened #135 "Problem loader tabulizer Windows 10/ rJava class loaders"
Please specify whether your issue is about:

 - [ ] a possible bug
 - [X ] a question about package functionality
 - [ ] a suggested code or documentation change, improvement to the code, or feature request

Put your code here:

Hi Leeper.
Could you help me with the problem I have in installing tabulizer.
I correctly installed RJava library. I have rJava 0.9-13 2020-07-06 [1] CRAN (R 4.0.3).
I dow

[2021-04-01 17:41] mspittler opened #136 "Possible bug in extract_tables()"
Hello, I experience a possible bug on MacOS BigSur with java jdk 16 in the function `extract_tables()`. I wasn't able to extract tables from files, which I was able to open on Linux. But for instance `extract_text()` works.

Error message:
[code]
Traceback:
[code]
`sessionInfo()`

[code]

[2021-05-18 19:30] kzarada commented on #136
I am having the same issue but on a windows. The other tabulizer functions work fine but `extract_table` throws an error when using the sample code:
[code]

The error is: `Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.lang.reflect.InaccessibleObjectException: Unable to make public boolean java.util.ArrayList$Itr.hasNext() accessible: module java.base does not "o

[2021-06-02 16:01] ivoggv commented on #136
I'm having the same issue with extract_tables. Here is the output. Does someone has an answer? Thanks in advance.

`Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
  java.lang.reflect.InaccessibleObjectException: Unable to make public boolean java.util.ArrayList$Itr.hasNext() accessible: module java.base does not "opens java.util" to unnamed module @a530d0a`

[2021-06-15 16:01] maahutch commented on #106
Same thing happened to me. Got this error the first time then just an empty list each subsequent run. I can read other pdfs but it fails on one which is a different format.

    R version 4.0.2 (2020-06-22)
    Platform: x86_64-w64-mingw32/x64 (64-bit)
    Running under: Windows 10 x64 (build 19041)

    Matrix products: default

    locale:
    [1] LC_COLLATE=English_United States.1252  LC_CTYPE=

[2021-06-15 22:21] cjyetman commented on #106
@maahutch An error, or a warning? Those are significantly different.

[2021-06-26 13:13] #77 closed

[2021-07-02 12:06] marijnvanwingerden commented on #124
Java SE6 is no longer supported by Mac OS Catalina, see:
https://discussions.apple.com/thread/250725852

[2021-07-02 19:36] matthewstern commented on #136
Exact same issue here! Running 64bit R, JRE 1.8.0_291 and JDK 16.0.1. New to tabulizer, would love to get it working, but likewise `extract_table` throws the identical error posted by @kzarada @ivoggv, etc. `extract_text` works. For what it's worth [this StackExchange answer](https://stackoverflow.com/a/41265267) seems to refer to this problem pretty clearly, but I don't know enough (Read: anythin

[2021-07-25 20:22] brandonrobertz opened #138 "Specifying columns as percentages"
I'm curious if tabulizer supports providing column offsets as a percentage as upstream tabula-java does.

[code]

This is a pretty vital part of my workflow for identifying column offsets using a web-based UI. I was wondering what would need to change for this to be possible. I'd be willing to make the changes if pointed in the right direction.

[2021-08-02 05:19] Sheksta commented on #136
I have this issue too! Running jdk-16.0.2, R 4.0.5.

`>sessionInfo()`
[code]

[2021-09-04 15:00] swsoyee commented on #136
Same here.

[code]

[code]

[code]

[2021-09-04 16:47] swsoyee commented on #136
Thanks for the relate thread which is provided by @matthewstern, I found a way how to avoid this error, just downgrade your jdk to 1.8, which is JAVA8 not JAVA 9 or later.

And here is my new session info and Java version:
[code]

[code]

[2021-10-01 09:44] Bernardo-Hazan opened #139 "Having problems with automate table recognition, can one save areas found manually for reproduction?"

[2021-10-01 12:30] #139 closed

[2021-11-01 08:04] huss22us commented on #103
I have the same issue

[2021-11-01 10:23] pat-s opened #140 "{tabulizer} got archived on CRAN on 2021-10-31"
Are there short-term plans to bring it back? :)

[2021-11-02 14:07] maelle commented on #140
:wave: @tpaskhalis, do you need any help?

[2021-11-03 19:15] tpaskhalis commented on #140
The release of Java 17 caused some issues in the way R interacts with it through rJava. More specifically from Brian Ripley's email:

[code]

It's not the best of timing for me, as it all occurred at the beginning of a new teaching semester. And also my Java is not that strong, so it will take me some time to figure this issue. But it's definitely fixable. If anybody wants to take a shot at pull r

[2021-11-04 09:22] maelle commented on #140
@tpaskhalis Thanks for your answer! As it's not something I would personally be able to help with, I've added the "help wanted" label (we're working on making such issues more easily discoverable cc @steffilazerte), and have posted in rOpenSci slack package-maintenance channel.

[2021-11-04 23:38] DavidPerea commented on #140
So right now there is no way to use it, right?

As I am a novice user, I don't know a lot about programming to help, but a lot of encouragement!

[2021-11-05 07:24] pat-s commented on #140
@DavidPerea You can install it from GitHub, which should work: `remotes::install_github("ropensci/tabulizer")`.

[2021-11-05 12:10] DavidPerea commented on #140
Before installing "tabulizer", I see that I must first have 'tabulizerjars' installed. But I get the following error when using this command: `remotes :: install_github ("ropensci / tabulizerjars")`

[code]

How is it solved?

[2021-11-05 13:59] tpaskhalis commented on #140
@DavidPerea make sure that you can install and load `rJava` before installing `tabulizerjars`.

[2021-11-06 12:03] DavidPerea commented on #140
Solved, thank you very much!

[2021-11-06 23:58] budall commented on #140
Hi, I'm in same boat. Would like to use this package, but the remotes :: install_github ("ropensci / tabulizerjars") fails like this:

remotes::install_github("ropensci/tabulizer")
Downloading GitHub repo ropensci/tabulizer@HEAD
Skipping 1 packages not available: tabulizerjars
✓  checking for file ‘/private/var/folders/55/2g40bwx56rvg3bnchwhvqkdr0000gn/T/Rtmp3jLMsJ/remotes6afbece498f/ropensci-tabu

[2021-11-07 02:02] budall commented on #140
I got this working.  It was simple.

You need this:

remotes::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer")

[2021-11-20 18:43] muhammetozkaraca opened #141 "extract_tables function status was 'SSL connect error' error"
During the last two days, I am trying to install tabulizer package so that I can retrieve some information from an online pdf and conduct some analysis on this data. I managed to upload the package in my R Studio, however when I run this line of code

[code]

I get the following error

[code]
To solve this problem, I have tried a couple of solutions. [Based on this solution at the Slack](https://s

[2021-11-24 07:42] lindeloev opened #142 "Select multiple areas per page in `*_areas()`"
`extract_tables()` can extract multiple tables per page. But `extract_areas()` and `select_areas()` allow for only one selection per page. It would be really convenient if you could select multiple areas, e.g., by holding SHIFT or CTRL. For now, I can get around it by doing multiple extractions of one table per page - no problem.

I have some PDFs like this where it currently includes the long tex

[2021-12-02 03:00] GitHunter0 commented on #13
Hi folks, any update on this? I'm having the same error...

[2021-12-16 08:02] kumarangithub6485 opened #143 "q question about package( Tabulizer) installation"
I am getting below error while I use Tabulizer in R shiny

Error:
`> install.packages("tabulizer")
Warning in install.packages :
package ‘tabulizer’ is not available for this version of R`

How to fix this issue?

[2021-12-31 07:42] kumarangithub6485 opened #144 "a suggested code or documentation change, improvement to the code, or feature request"
Hello Team,

After scraping is completed, I can see the scroll bar at the bottom of the Datatable, but I'm not sure how to bring it also to the upper side of the Datatable. Could you assist me in resolving this problem?

[2022-02-08 22:49] ddkapan commented on #140
For macOS >= to Catalina, it won’t work b/c the relevant legacy Java runtime (SE 6) is not compatible, downgrade OS, switch OS systems or find an alternative application.

[2022-02-11 14:22] araceliramirezg commented on #140
Hi!

I tried this but I had this error

`Downloading GitHub repo ropensci/tabulizer@HEAD
Error: Failed to install 'tabulizer' from GitHub:
  invalid octal digit`

Help, please! i need tu use this package

[2022-02-11 15:01] pat-s commented on #140
@araceliramirezg This seems to be a separate issue of your local R installation. I suggest to open a new issue and provide more information on your local R installation. You might use the [reprex](https://github.com/tidyverse/reprex) package to provide this information.

[2022-02-11 15:18] araceliramirezg commented on #140
@pat-s I tried it again and i have this message:

`remotes::install_github("ropensci/tabulizer")
Downloading GitHub repo ropensci/tabulizer@HEAD
Downloading GitHub repo ropensci/tabulizerjars@HEAD
WARNING: Rtools is required to build R packages, but is not currently installed.

Please download and install Rtools 4.0 from https://cran.r-project.org/bin/windows/Rtools/.
√  checking for file 'C:\User

[2022-02-22 19:02] RobertSellers commented on #143
Do you have JRE installed?  https://www.java.com/en/download/

[2022-02-23 03:46] kumarangithub6485 commented on #143
@RobertSellers, Yes I had already installed JRE

[2022-03-04 13:45] datapumpernickel opened #145 "inconsistent behavior of extract_tables and extract_areas"
Please specify whether your issue is about:

 - [x] a possible bug

First: Thank you very much for this awesome package. It has saved me tremendous headaches in the past!

Now I have a weird behavior, that I cannot really wrap my head around.
When I do extract_areas() and locate the table, the result looks fine - I get back a complete table in the usual format.
When I do extract_tables() with the

[2022-03-09 13:54] edonnachie commented on #143
Looks like tabulizer had been removed from CRAN:
https://cran.r-project.org/web/packages/tabulizer/index.html

Has this package been abandoned?

[2022-04-27 19:04] tedmoorman commented on #99
I agree that this is a very important feature. It looks like the development of this package is dead, which is too bad.

[2022-04-27 19:32] tedmoorman commented on #99
It looks like you can at least say `header = FALSE` to avoid names of the data frame with data rather than true column names.

[2022-04-27 19:44] tedmoorman commented on #119
Having the same problem ...

[2022-05-24 21:07] woodwards commented on #105
On Windows this worked for me:

install.packages("rJava")
Sys.setenv(JAVA_HOME="C:/Program Files/Java/jre1.8.0_333/")
library(rJava)
.jinit()
.jcall("java/lang/System", "S", "getProperty", "java.runtime.version") # check java version
remotes::install_github("ropensci/tabulizerjars", INSTALL_opts = "--no-multiarch")
remotes::install_github("ropensci/tabulizer", INSTALL_opts = "--no-multiarch")

[2022-06-23 08:52] NiccoloSalvini opened #147 "Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl, : java.lang.IllegalAccessException: class RJavaTools cannot access a member of class java.util.ArrayList$Itr (in module java.base) with modifiers "public""
Hi,
I have a problem reading a pdf table. The link and the pdf document are not corrupted (e.g. pdftools::pdf_text() works fine, but I when I am trying to extract tables:

[code]

I get the following error:

[code]

with the following traceback:

[code]

## `devtools::session_info()`

[code]

[2022-06-29 12:58] jbryer commented on #140
Any update on accepting @AQLT pull request?

[2022-07-04 06:23] ggSamoora commented on #147
I found a solution to this problem. You have to use an older version of JDK for this to work. I created a 10-minute tutorial on how to properly set up the Tabulizer package. You can find the YouTube video [here](https://www.youtube.com/watch?v=nlsWjezvsg8&t=585s&ab_channel=SamerHijjazi)

[2022-07-13 19:43] BastienNguyen commented on #147
Can you please provide a osx method too?

[2022-07-21 07:47] pat-s commented on #140
Maybe @leeper has time to help here and eventually merge #146?

Otherwise summoning the swiss-knife @jeroen as he did the last commit in the history.

[2022-07-22 07:17] ssingh13-rms commented on #147
What's the version of JDK you used?

[2022-07-28 09:15] maelle opened #148 "New Maintainer Wanted :-)"
Or new maintainer team. :smile_cat:

In particular it'd be urgent to fix #140 for which there is a PR #146

If you're interested, please comment in the issue.
For more info, see
- [our guidance on Changing package maintainers](https://devguide.ropensci.org/changing-maintainers.html);
- [our Package Curation Policy](https://devguide.ropensci.org/curationpolicy.html).

@tpaskhalis your contributions

[2022-07-28 09:15] maelle commented on #140
#148 :smile_cat:

[2022-08-05 02:32] Jungpin opened #149 "An illegal reflective access operation has occurred"
# WARNING: An illegal reflective access operation has occurred
# WARNING: Illegal reflective access by RJavaTools to method java.util.ArrayList$Itr.hasNext()
# WARNING: Please consider reporting this to the maintainers of RJavaTools
# WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
# WARNING: All illegal access operations will be denied in a fu

[2022-08-14 13:56] drpedapati commented on #147
Go here and download Java 8 https://www.azul.com/downloads/?version=java-8-lts&package=jdk
Recommend DMG package and install
Uninstall any other Java VMs  https://docs.azul.com/core/zulu-openjdk/uninstall/macos
Check at terminal:
javac -version
javac 1.8.0_345

Now you should be able to run extract_tables

I'm not a java developer but the versioning is confusing

[2022-09-28 09:06] AlbanSagouis commented on #145
Hi,

This looks like the problem I have and my understanding of it is that `tabulizer::extract_tables()` just does not take the `area` argument into account. I tried passing coordinates by hand or directly passing the list given by `tabulizer::locate_areas()` and the result is always the same as not passing an `area` at all and the whole page is scanned. Plus no error or warning message is shown w

[2022-09-28 12:10] datapumpernickel commented on #145
Upon further inspection, I have come to the conclusion, that the area argument is ignored (same as the columns argument), if `guess = T`. This should probably be added in the documentation. If you specify guess = F, it does indeed take the area into account...

[2022-09-28 12:50] AlbanSagouis commented on #145
You're right, thanks a lot @datapumpernickel .
Would you like to write a PR addressing this? If not, I'll happily do it.

[2022-09-28 18:19] datapumpernickel commented on #145
Thanks @AlbanSagouis, PR looks great. I do not have much experience with writing packages or testthat, so I am impressed. :)
Fixed through warning in #150

[2022-09-28 18:19] #145 closed

[2022-10-06 08:52] maelle commented on #148
@ropensci/admin

[2022-10-19 20:01] pachadotdev commented on #149
I get the same
[code]

here's my session info

[code]

[2022-10-19 20:02] pachadotdev commented on #148
hi!
happy to collaborate, because I'll be using this package intensively

[2022-10-20 07:50] maelle commented on #148
@pachadotdev thank you! If no one else volunteers, would you be ok being the sole maintainer of tabulizer?

[2022-10-27 03:35] pachadotdev commented on #148
yes

[2022-10-27 04:18] maelle commented on #148
Thank you, I've now given you admin access to this repository (and to tabulizerjars)!

[2022-11-01 13:55] akarlinsky commented on #127
I have a similar issue.

[2022-11-01 17:47] pachadotdev commented on #148
merci, @maelle
Je ferai de mon mieux pour apporter une bonne contribution.

[2022-11-07 22:04] pachadotdev opened #153 "Renaming to tabula"
I would love to hear some opinions. The package was archived on CRAN.

Comment below, please. Thumbs up = yes, thumbs down = no.

[2022-11-07 22:35] #148 closed

[2022-11-08 18:59] pachadotdev opened #154 "Windows CI fails because of Java 8 requirement"
See https://github.com/ropensci/tabulizer/issues/147#issuecomment-1306214440

[2022-11-08 23:17] pachadotdev opened #155 "build fails with tabula 1.2.1 jar"
Here's the check result, I tried building tabula-java using mvn but it doesn't like the produced jar

I put a script to build the Java sources in /dev in the dev branch

[code]

[2022-11-10 17:43] pachadotdev opened #156 "ROADMAP FOR FALL 2023"
Hi!

I was invited to maintain this package. I hope to do it well.

I emailed @jazzido, and Tabula is in dormant state, but will be resumed soon.

Here are some important points I detected

- [x] Reorganize tabulizerjars and tabulizer into a single package (https://github.com/ropensci/tabulizer/tree/dev)
- [x] Add a recent tabulizer version that passes `devtools::check()` (https://github.com/ropen

[2022-11-10 18:01] billdenney commented on #153
I'd prefer no change.  If the API will remain the same, then I'd prefer for my older code to work without modification.  If the API will change, then changing the name makes sense to me.

[2022-11-10 18:11] billdenney commented on #156
I prefer packages on CRAN because it is much simpler to install for me.  (For my work, there are hoops to jump through when installing non-CRAN packages.)  But if it's a huge burden, then having the package exist is more important.

[2022-11-10 18:28] beatrizmilz commented on #156
Hi @pachadotdev ! Thank you for being a maintainer of this package.

In my experience, tabulizer is a great package, and many people have difficulty installing it (including myself, students, and people posting in forums about R in Portuguese).
So it would be great if tabulizer is easier to install.

About CRAN, I agree with @billdenney : https://github.com/ropensci/tabulizer/issues/156#issuecomme

[2022-11-10 20:14] pachadotdev commented on #156
thanks @billdenney @beatrizmilz
i'll leave this issue open, as we'll be rewriting some parts to ease the installation

[2022-11-16 11:08] Dhwani-2410 opened #157 "Unable to install in tabulizer"
Put your code here:

[code]
[code]
[code]

[2022-11-17 17:50] pachadotdev commented on #157
you need to install from github
[code]

[2022-11-18 06:28] Dhwani-2410 commented on #157
@pachadotdev It doesn't work. The link is not working

Downloading GitHub repo ropensci/tabulizer@HEAD
Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  cannot open URL 'https://api.github.com/repos/ropensci/tabulizer/tarball/HEAD'

[2022-11-23 17:11] #157 closed